🚀 VMware Cloud Director Backup {{.ServiceName}}
=======

## General information

**Status**:        {{index .Result "resourceStatus"}}
**Creation date**: {{index .Result "createdAt"}}
**Update date**:   {{index .Result "updatedAt"}}

## Current state

**Availability zone**: {{index .Result "currentState" "azName"}}

{{if index .Result "currentState" "offers"}}
### Offers

| Name | Primary region | Replicated region | Space used (GB) | Status |
| --- | --- | --- | --- | --- |
{{ range index .Result "currentState" "offers" }}| {{.name}} | {{.protectionPrimaryRegion}} | {{.protectionReplicatedRegion}} | {{.usedSpaceInGB}} | {{.status}} |
{{end}}
{{end}}

{{if index .Result "currentTasks"}}
## Current tasks

| ID | Type | Status |
| --- | --- | --- |
{{ range index .Result "currentTasks" }}| {{.id}} | {{.type}} | {{.status}} |
{{end}}
{{end}}

## IAM information

**URN**: {{index .Result "iam" "urn"}}
{{if index .Result "iam" "tags"}}
**Tags**:
| Key | Value |
| --- | --- |
{{ range $key, $value := (index .Result "iam" "tags") }}| {{$key}} | {{$value}} |
{{end}}
{{end}}

💡 Use option --json or --yaml to get the raw output with all information