{
  "openapi": "3.0.0",
  "info": {
    "title": "OVHcloud API specification",
    "description": "Specification for OVHcloud API",
    "version": "1.0",
    "contact": {
      "name": "OVH",
      "email": "api@ml.ovh.net"
    }
  },
  "servers": [
    {
      "url": "https://eu.api.ovh.com/v2"
    }
  ],
  "components": {
    "schemas": {
      "any": {
        "description": "Can be anything (text, int, bool, json, html, etc.)",
        "example": "This is a content of any type !"
      },
      "common.CurrentTask": {
        "type": "object",
        "description": "Asynchronous operation currently running",
        "properties": {
          "errors": {
            "type": "array",
            "description": "Errors that occurred on the task",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.TaskError"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Identifier of the current task",
            "format": "uuid",
            "readOnly": true
          },
          "link": {
            "type": "string",
            "description": "Link to the task details",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.CurrentTaskStatusEnum"
              }
            ],
            "description": "Current global status of the current task",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "Type of the current task",
            "readOnly": true
          }
        }
      },
      "common.CurrentTaskStatusEnum": {
        "type": "string",
        "description": "Current status of a task. A task in ERROR cannot be retried without your inputs. PENDING tasks will be executed as soon as possible. A RUNNING task is currently executing your original request. SCHEDULED is used for tasks that will be executed in the future",
        "enum": [
          "ERROR",
          "PENDING",
          "RUNNING",
          "SCHEDULED",
          "WAITING_USER_INPUT"
        ]
      },
      "common.Event": {
        "type": "object",
        "description": "Represents an event for an async envelope",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Creation date of the event",
            "format": "date-time",
            "readOnly": true
          },
          "kind": {
            "type": "string",
            "description": "Nature of the event",
            "readOnly": true
          },
          "link": {
            "type": "string",
            "description": "Link to the event related resource",
            "nullable": true,
            "readOnly": true
          },
          "message": {
            "type": "string",
            "description": "Description of what happened on the event",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.EventTypeEnum"
              }
            ],
            "description": "Type of the event",
            "readOnly": true
          }
        }
      },
      "common.EventTypeEnum": {
        "type": "string",
        "description": "List all defined values for an event type field",
        "enum": [
          "TARGET_SPEC_UPDATE",
          "TASK_ERROR",
          "TASK_START",
          "TASK_SUCCESS"
        ]
      },
      "common.ResourceStatusEnum": {
        "type": "string",
        "description": "Current status of a resource",
        "enum": [
          "CREATING",
          "CREATION_PLANNED",
          "DELETING",
          "ERROR",
          "OUT_OF_SYNC",
          "READY",
          "SUSPENDED",
          "UNKNOWN",
          "UPDATING"
        ]
      },
      "common.Task": {
        "type": "object",
        "description": "Asynchronous operation",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Creation date of the task",
            "format": "date-time",
            "readOnly": true
          },
          "errors": {
            "type": "array",
            "description": "Errors that occured on the task",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.TaskError"
            },
            "readOnly": true
          },
          "finishedAt": {
            "type": "string",
            "description": "Ending date of the task",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Identifier of the task",
            "format": "uuid",
            "readOnly": true
          },
          "link": {
            "type": "string",
            "description": "Link to the related resource",
            "readOnly": true
          },
          "message": {
            "type": "string",
            "description": "Description of the task",
            "readOnly": true
          },
          "progress": {
            "type": "array",
            "description": "Progress steps of the asynchronous operation",
            "items": {
              "$ref": "#/components/schemas/common.TaskProgress"
            },
            "readOnly": true
          },
          "startedAt": {
            "type": "string",
            "description": "Starting date of the task",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.TaskStatusEnum"
              }
            ],
            "description": "Current global status of the task",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "Type of the task",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update of the task",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "common.TaskError": {
        "type": "object",
        "description": "Errors that occurred on the task",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description",
            "readOnly": true
          }
        }
      },
      "common.TaskProgress": {
        "type": "object",
        "description": "Detailed information about an asynchronous operation progress steps",
        "properties": {
          "name": {
            "type": "string",
            "description": "Progress step name",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.TaskStatusEnum"
              }
            ],
            "description": "Current status of the progress step",
            "readOnly": true
          }
        }
      },
      "common.TaskStatusEnum": {
        "type": "string",
        "description": "TaskStatusEnum",
        "enum": [
          "DONE",
          "ERROR",
          "PENDING",
          "RUNNING",
          "SCHEDULED",
          "WAITING_USER_INPUT"
        ]
      },
      "duration": {
        "type": "string",
        "description": "Duration (e.g., P1Y2M3DT4H6M9S)",
        "example": "P1Y2M3DT4H6M9S"
      },
      "email": {
        "type": "string",
        "description": "Email address (e.g., api@ml.ovh.net)",
        "format": "email",
        "example": "api@ml.ovh.net"
      },
      "iam.ResourceMetadata": {
        "type": "object",
        "description": "IAM resource metadata embedded in services models",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Resource display name",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the resource",
            "format": "uuid",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.ResourceMetadata.StateEnum"
              }
            ],
            "description": "Resource state",
            "nullable": true,
            "readOnly": true
          },
          "tags": {
            "type": "object",
            "description": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "readOnly": true
          },
          "urn": {
            "type": "string",
            "description": "Unique resource name used in policies",
            "readOnly": true
          }
        }
      },
      "iam.ResourceMetadata.StateEnum": {
        "type": "string",
        "description": "Resource state",
        "enum": [
          "EXPIRED",
          "IN_CREATION",
          "OK",
          "SUSPENDED"
        ]
      },
      "iam.resource.TagFilter": {
        "type": "object",
        "description": "Resource tag filter",
        "properties": {
          "operator": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.resource.TagFilter.OperatorEnum"
              }
            ],
            "description": "Operator to use in order to filter on the value (defaults to 'EQ')",
            "nullable": true,
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "Value to use in order to filter tags",
            "readOnly": true
          }
        }
      },
      "iam.resource.TagFilter.OperatorEnum": {
        "type": "string",
        "description": "Operator that can be used in order to filter resources tags",
        "enum": [
          "EQ",
          "EXISTS",
          "ILIKE",
          "LIKE",
          "NEQ",
          "NEXISTS"
        ]
      },
      "internationalPhoneNumber": {
        "type": "string",
        "description": "International phone number",
        "format": "phone-number"
      },
      "ip": {
        "type": "string",
        "description": "IP address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipBlock": {
        "type": "string",
        "description": "IP (v4 or v6) CIDR notation (e.g., 192.0.2.0/24)",
        "format": "ip-block",
        "example": "192.0.2.0/24"
      },
      "ipInterface": {
        "type": "string",
        "description": "IP address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipv4": {
        "type": "string",
        "description": "IPv4 address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipv4Block": {
        "type": "string",
        "description": "IPv4 CIDR notation (e.g., 192.0.2.0/24)",
        "format": "ipv4-block",
        "example": "192.0.2.0/24"
      },
      "ipv6": {
        "type": "string",
        "description": "IPv6 address (e.g., 2001:41d0:1:1994::1)",
        "format": "ipv6",
        "example": "2001:41d0:1:1994::1"
      },
      "ipv6Block": {
        "type": "string",
        "description": "IPv6 CIDR notation (e.g., 2001:41d0::/128)",
        "format": "ipv6-block",
        "example": "2001:41d0::/128"
      },
      "macAddress": {
        "type": "string",
        "description": "MAC address (e.g., 00:00:5e:00:53:01)",
        "format": "mac-address",
        "example": "00:00:5e:00:53:01"
      },
      "phoneNumber": {
        "type": "string",
        "description": "Phone number",
        "format": "phone-number"
      },
      "publicCloud.blockStorage.Backup": {
        "type": "object",
        "description": "A Public Cloud block storage backup",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the backup",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupCurrentState"
              }
            ],
            "description": "Current observed state of the backup from the infrastructure",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the backup",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the backup",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Backup readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupTargetSpec"
              }
            ],
            "description": "Last target specification of the backup",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the backup",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BackupCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud block storage backup",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupTargetSpec"
              }
            ],
            "description": "Desired target specification for the backup"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BackupCurrentState": {
        "type": "object",
        "description": "Current state of a block storage backup as observed from the infrastructure",
        "properties": {
          "description": {
            "type": "string",
            "description": "Backup description",
            "nullable": true,
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current backup name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Size of the backup in GB",
            "readOnly": true
          },
          "volumeId": {
            "type": "string",
            "description": "Identifier of the source volume",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BackupTargetSpec": {
        "type": "object",
        "description": "Target specification for a block storage backup",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired backup description",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired backup name"
          },
          "volumeId": {
            "type": "string",
            "description": "Identifier of the source volume to backup",
            "format": "uuid"
          }
        },
        "required": [
          "location",
          "name",
          "volumeId"
        ]
      },
      "publicCloud.blockStorage.BackupUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud block storage backup",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications; represents the current target specification value"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the backup"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BackupUpdateTargetSpec": {
        "type": "object",
        "description": "Target specification for updating a block storage backup (immutable fields like location and volumeId are excluded)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired backup description"
          },
          "name": {
            "type": "string",
            "description": "Desired backup name"
          }
        }
      },
      "publicCloud.blockStorage.Block": {
        "type": "object",
        "description": "A Public Cloud block storage volume",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the volume",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockCurrentState"
              }
            ],
            "description": "Current observed state of the volume from the infrastructure",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the volume",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the volume",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Volume readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockTargetSpec"
              }
            ],
            "description": "Last target specification of the volume",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the volume",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BlockAttachedInstance": {
        "type": "object",
        "description": "An instance currently attached to a block storage volume",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance unique identifier",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BlockCreateFrom": {
        "type": "object",
        "description": "Optional source to create a block storage volume from (backup, snapshot, or image). Only one source may be specified.",
        "properties": {
          "backupId": {
            "type": "string",
            "description": "UUID of a backup to restore from",
            "nullable": true,
            "format": "uuid"
          },
          "imageId": {
            "type": "string",
            "description": "UUID of a Glance image to create the volume from. The resulting volume will be bootable. `volumeType` is required when using this field.",
            "nullable": true,
            "format": "uuid"
          },
          "snapshotId": {
            "type": "string",
            "description": "UUID of a snapshot to create from",
            "nullable": true,
            "format": "uuid"
          }
        }
      },
      "publicCloud.blockStorage.BlockCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud block storage volume",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockTargetSpec"
              }
            ],
            "description": "Desired target specification for the volume"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BlockCurrentState": {
        "type": "object",
        "description": "Current state of a block storage volume as observed from the infrastructure",
        "properties": {
          "attachedInstances": {
            "type": "array",
            "description": "Instances currently attached to this volume",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.blockStorage.BlockAttachedInstance"
            },
            "readOnly": true
          },
          "bootable": {
            "type": "boolean",
            "description": "Whether the volume is bootable",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "Volume description",
            "nullable": true,
            "readOnly": true
          },
          "encryption": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockEncryption"
              }
            ],
            "description": "Encryption configuration of the volume",
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockLocation"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "locked": {
            "type": "boolean",
            "description": "Whether the volume is locked",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current volume name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Current size of the volume in GB",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeStatusEnum"
              }
            ],
            "description": "OpenStack volume status",
            "readOnly": true
          },
          "volumeType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeTypeEnum"
              }
            ],
            "description": "Current volume type",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BlockEncryption": {
        "type": "object",
        "description": "Encryption configuration for a block storage volume",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether the volume is encrypted at rest with LUKS"
          }
        },
        "required": [
          "enabled"
        ]
      },
      "publicCloud.blockStorage.BlockLocation": {
        "type": "object",
        "description": "Location for a block storage volume",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.blockStorage.BlockTargetSpec": {
        "type": "object",
        "description": "Target specification for a block storage volume",
        "properties": {
          "createFrom": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockCreateFrom"
              }
            ],
            "description": "Optional source to create the volume from (backup or snapshot). Cannot be changed after creation.",
            "nullable": true
          },
          "encryption": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockEncryption"
              }
            ],
            "description": "Encryption configuration for the volume",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockLocation"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired volume name"
          },
          "size": {
            "type": "integer",
            "description": "Size of the volume in GB"
          },
          "volumeType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeTypeEnum"
              }
            ],
            "description": "Type of the volume. Required when creating a blank volume, omitted when creating from a backup or snapshot (inherited from source).",
            "nullable": true
          }
        },
        "required": [
          "location",
          "name",
          "size"
        ]
      },
      "publicCloud.blockStorage.BlockUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud block storage volume",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications; represents the current target specification value"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the volume"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BlockUpdateTargetSpec": {
        "type": "object",
        "description": "Target specification for updating a block storage volume (immutable fields like location and encryption are excluded)",
        "properties": {
          "name": {
            "type": "string",
            "description": "Desired volume name"
          },
          "size": {
            "type": "integer",
            "description": "Size of the volume in GB"
          },
          "volumeType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeTypeEnum"
              }
            ],
            "description": "Target volume type. Changing this triggers an online retype (migration).",
            "nullable": true
          }
        },
        "required": [
          "name",
          "size"
        ]
      },
      "publicCloud.blockStorage.Snapshot": {
        "type": "object",
        "description": "A Public Cloud block storage volume snapshot",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the snapshot",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotCurrentState"
              }
            ],
            "description": "Current observed state of the snapshot from the infrastructure",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the snapshot",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the snapshot",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Snapshot readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotTargetSpec"
              }
            ],
            "description": "Last target specification of the snapshot",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the snapshot",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.SnapshotCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud block storage volume snapshot",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotTargetSpec"
              }
            ],
            "description": "Desired target specification for the snapshot"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.SnapshotCurrentState": {
        "type": "object",
        "description": "Current state of a block storage volume snapshot as observed from the infrastructure",
        "properties": {
          "description": {
            "type": "string",
            "description": "Snapshot description",
            "nullable": true,
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current snapshot name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Size of the snapshot in GB",
            "readOnly": true
          },
          "volumeId": {
            "type": "string",
            "description": "ID of the volume this snapshot was created from",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.SnapshotTargetSpec": {
        "type": "object",
        "description": "Target specification for a block storage volume snapshot",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired snapshot description",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired snapshot name"
          },
          "volumeId": {
            "type": "string",
            "description": "ID of the volume to snapshot",
            "format": "uuid"
          }
        },
        "required": [
          "location",
          "name",
          "volumeId"
        ]
      },
      "publicCloud.blockStorage.SnapshotUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud block storage volume snapshot",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications; represents the current target specification value"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the snapshot"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.SnapshotUpdateTargetSpec": {
        "type": "object",
        "description": "Target specification for updating a block storage volume snapshot (immutable fields like location and volumeId are excluded)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired snapshot description"
          },
          "name": {
            "type": "string",
            "description": "Desired snapshot name"
          }
        },
        "required": [
          "name"
        ]
      },
      "publicCloud.blockStorage.VolumeStatusEnum": {
        "type": "string",
        "description": "Possible statuses for a block storage volume",
        "enum": [
          "ATTACHING",
          "AVAILABLE",
          "CREATING",
          "DELETING",
          "DETACHING",
          "DOWNLOADING",
          "ERROR",
          "ERROR_BACKING_UP",
          "ERROR_DELETING",
          "ERROR_EXTENDING",
          "ERROR_RESTORING",
          "EXTENDING",
          "IN_USE",
          "RETYPING"
        ]
      },
      "publicCloud.blockStorage.VolumeTypeEnum": {
        "type": "string",
        "description": "Possible volume types for a block storage volume",
        "enum": [
          "CLASSIC",
          "HIGH_SPEED",
          "HIGH_SPEED_GEN2"
        ]
      },
      "publicCloud.common.Location": {
        "type": "object",
        "description": "Resource location",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.floatingIp.FloatingIP": {
        "type": "object",
        "description": "A Public Cloud floating IP",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the floating IP",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPCurrentState"
              }
            ],
            "description": "Current state of the floating IP",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the floating IP",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the floating IP",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Floating IP readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPTargetSpec"
              }
            ],
            "description": "Last target specification of the floating IP",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the floating IP",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.floatingIp.FloatingIPCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud floating IP",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPTargetSpec"
              }
            ],
            "description": "Desired target specification for the floating IP to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.floatingIp.FloatingIPCurrentState": {
        "type": "object",
        "description": "Current state of a floating IP from OpenStack",
        "properties": {
          "description": {
            "type": "string",
            "description": "Floating IP description",
            "nullable": true,
            "readOnly": true
          },
          "ip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "Floating IP address",
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPLocation"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPNetwork"
              }
            ],
            "description": "Associated network",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPStatusEnum"
              }
            ],
            "description": "OpenStack floating IP status",
            "readOnly": true
          }
        }
      },
      "publicCloud.floatingIp.FloatingIPLocation": {
        "type": "object",
        "description": "Floating IP location",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.floatingIp.FloatingIPNetwork": {
        "type": "object",
        "description": "A network reference for a floating IP",
        "properties": {
          "id": {
            "type": "string",
            "description": "Network ID",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.floatingIp.FloatingIPStatusEnum": {
        "type": "string",
        "description": "OpenStack floating IP status",
        "enum": [
          "ACTIVE",
          "DOWN",
          "ERROR"
        ]
      },
      "publicCloud.floatingIp.FloatingIPTargetSpec": {
        "type": "object",
        "description": "Desired specification for a floating IP",
        "properties": {
          "description": {
            "type": "string",
            "description": "Floating IP description",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPLocation"
              }
            ],
            "description": "Target location"
          }
        },
        "required": [
          "location"
        ]
      },
      "publicCloud.floatingIp.FloatingIPUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud floating IP",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the floating IP"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.floatingIp.FloatingIPUpdateTargetSpec": {
        "type": "object",
        "description": "Desired specification for updating a floating IP (mutable fields only)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Floating IP description"
          }
        },
        "required": [
          "description"
        ]
      },
      "publicCloud.gateway.ExternalGateway": {
        "type": "object",
        "description": "External gateway configuration",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether the external gateway is enabled"
          },
          "model": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGatewayModelEnum"
              }
            ],
            "description": "External gateway sizing model. Present only when enabled is true.",
            "nullable": true
          }
        },
        "required": [
          "enabled"
        ]
      },
      "publicCloud.gateway.ExternalGatewayModelEnum": {
        "type": "string",
        "description": "External gateway sizing model",
        "enum": [
          "2XL",
          "3XL",
          "L",
          "M",
          "S",
          "XL"
        ]
      },
      "publicCloud.gateway.Gateway": {
        "type": "object",
        "description": "A Public Cloud gateway (OpenStack router)",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the gateway",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayCurrentState"
              }
            ],
            "description": "Current state of the gateway",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the gateway",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the gateway",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Gateway readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayTargetSpec"
              }
            ],
            "description": "Last target specification of the gateway",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the gateway",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.gateway.GatewayCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud gateway",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayTargetSpec"
              }
            ],
            "description": "Desired target specification for the gateway to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.gateway.GatewayCurrentState": {
        "type": "object",
        "description": "Current state of a gateway from OpenStack",
        "properties": {
          "description": {
            "type": "string",
            "description": "Gateway description",
            "nullable": true,
            "readOnly": true
          },
          "externalGateway": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGateway"
              }
            ],
            "description": "External gateway configuration",
            "readOnly": true
          },
          "externalIp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "External IP address assigned to the gateway",
            "nullable": true,
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayLocation"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Gateway name",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayStatusEnum"
              }
            ],
            "description": "OpenStack router status",
            "readOnly": true
          },
          "subnets": {
            "type": "array",
            "description": "Currently attached subnets",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.gateway.GatewaySubnet"
            },
            "readOnly": true
          }
        }
      },
      "publicCloud.gateway.GatewayLocation": {
        "type": "object",
        "description": "Gateway location",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.gateway.GatewayStatusEnum": {
        "type": "string",
        "description": "OpenStack router status",
        "enum": [
          "ACTIVE",
          "BUILD",
          "DOWN",
          "ERROR"
        ]
      },
      "publicCloud.gateway.GatewaySubnet": {
        "type": "object",
        "description": "A subnet reference for a gateway",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subnet ID",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.gateway.GatewayTargetSpec": {
        "type": "object",
        "description": "Desired specification for a gateway",
        "properties": {
          "description": {
            "type": "string",
            "description": "Gateway description",
            "nullable": true
          },
          "externalGateway": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGateway"
              }
            ],
            "description": "External gateway configuration"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayLocation"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Gateway name"
          },
          "subnets": {
            "type": "array",
            "description": "Subnets to attach as router interfaces",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.gateway.GatewaySubnet"
            }
          }
        },
        "required": [
          "externalGateway",
          "location",
          "name"
        ]
      },
      "publicCloud.gateway.GatewayUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud gateway",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the gateway"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.gateway.GatewayUpdateTargetSpec": {
        "type": "object",
        "description": "Desired specification for updating a gateway (mutable fields only)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Gateway description",
            "nullable": true
          },
          "externalGateway": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGateway"
              }
            ],
            "description": "External gateway configuration"
          },
          "name": {
            "type": "string",
            "description": "Gateway name"
          },
          "subnets": {
            "type": "array",
            "description": "Subnets to attach as router interfaces",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.gateway.GatewaySubnet"
            }
          }
        },
        "required": [
          "externalGateway",
          "name"
        ]
      },
      "publicCloud.instance.Autobackup": {
        "type": "object",
        "description": "A Public Cloud instance autobackup (Mistral crontrigger for scheduled automatic backups)",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the autobackup",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupCurrentState"
              }
            ],
            "description": "Current state of the autobackup",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the autobackup",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the autobackup",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Autobackup readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupTargetSpec"
              }
            ],
            "description": "Last target specification of the autobackup",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the autobackup",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.AutobackupCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud instance autobackup",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupTargetSpec"
              }
            ],
            "description": "Desired target specification for the autobackup to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.instance.AutobackupCurrentState": {
        "type": "object",
        "description": "Current state of an instance autobackup as observed from the infrastructure",
        "properties": {
          "cron": {
            "type": "string",
            "description": "Cron schedule pattern",
            "readOnly": true
          },
          "distant": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupDistant"
              }
            ],
            "description": "Cross-region backup configuration",
            "nullable": true,
            "readOnly": true
          },
          "imageName": {
            "type": "string",
            "description": "Backup image name prefix",
            "readOnly": true
          },
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupInstanceRef"
              }
            ],
            "description": "Reference to the source instance",
            "readOnly": true
          },
          "lastExecutions": {
            "type": "array",
            "description": "Last 5 backup executions, newest first. Populated on GET only - null on LIST.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.AutobackupExecution"
            },
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Crontrigger name",
            "readOnly": true
          },
          "nextExecutionTime": {
            "type": "string",
            "description": "Next scheduled execution time",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "rotation": {
            "type": "integer",
            "description": "Number of backup versions to keep",
            "readOnly": true
          },
          "workflowName": {
            "type": "string",
            "description": "OpenStack Mistral workflow name (e.g. ovh.backup_vm or ovh.backup_vm_remote_region)",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.AutobackupDistant": {
        "type": "object",
        "description": "Cross-region backup configuration for an autobackup",
        "properties": {
          "imageName": {
            "type": "string",
            "description": "Image name for cross-region backup copy"
          },
          "region": {
            "type": "string",
            "description": "Target region for cross-region backup"
          }
        },
        "required": [
          "imageName",
          "region"
        ]
      },
      "publicCloud.instance.AutobackupExecution": {
        "type": "object",
        "description": "A single execution of an instance autobackup, as recorded by the autobackup execution engine when the backup workflow runs",
        "properties": {
          "errorMessage": {
            "type": "string",
            "description": "Error message reported by the autobackup execution engine, populated only when state is ERROR",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Backup execution unique identifier",
            "format": "uuid",
            "readOnly": true
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp when the execution started",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupExecutionStateEnum"
              }
            ],
            "description": "Current state of the execution",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last state update reported by the autobackup execution engine",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.AutobackupExecutionStateEnum": {
        "type": "string",
        "description": "State of a single autobackup execution: SUCCESS when the backup completed, ERROR when it failed, RUNNING while in progress, IDLE when scheduled but not yet running.",
        "enum": [
          "ERROR",
          "IDLE",
          "RUNNING",
          "SUCCESS"
        ]
      },
      "publicCloud.instance.AutobackupInstanceRef": {
        "type": "object",
        "description": "Reference to the source instance for an autobackup",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.AutobackupTargetSpec": {
        "type": "object",
        "description": "Target specification for an instance autobackup (all fields, used for creation)",
        "properties": {
          "cron": {
            "type": "string",
            "description": "Cron schedule pattern (e.g. '0 2 * * *')"
          },
          "distant": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupDistant"
              }
            ],
            "description": "Cross-region backup configuration",
            "nullable": true
          },
          "imageName": {
            "type": "string",
            "description": "Backup image name prefix"
          },
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupInstanceRef"
              }
            ],
            "description": "Reference to the source instance"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Crontrigger name"
          },
          "rotation": {
            "type": "integer",
            "description": "Number of backup versions to keep (minimum 1)"
          }
        },
        "required": [
          "cron",
          "imageName",
          "instance",
          "location",
          "name",
          "rotation"
        ]
      },
      "publicCloud.instance.Backup": {
        "type": "object",
        "description": "A Public Cloud instance backup (Glance image created from an instance)",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the backup",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupCurrentState"
              }
            ],
            "description": "Current state of the backup",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the backup",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the backup",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Backup readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupTargetSpec"
              }
            ],
            "description": "Last target specification of the backup",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the backup",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.BackupCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud instance backup",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupTargetSpec"
              }
            ],
            "description": "Desired target specification for the backup to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.instance.BackupCurrentState": {
        "type": "object",
        "description": "Current state of an instance backup as observed from the infrastructure",
        "properties": {
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupInstanceRef"
              }
            ],
            "description": "Source instance reference",
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "minDisk": {
            "type": "integer",
            "description": "Minimum disk size in GB required to boot",
            "nullable": true,
            "readOnly": true
          },
          "minRam": {
            "type": "integer",
            "description": "Minimum RAM in MB required to boot",
            "nullable": true,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current backup name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Image size in bytes",
            "nullable": true,
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.ImageStatusEnum"
              }
            ],
            "description": "Image status in the backend",
            "readOnly": true
          },
          "visibility": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.ImageVisibilityEnum"
              }
            ],
            "description": "Image visibility",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.BackupInstanceRef": {
        "type": "object",
        "description": "Reference to the source instance for a backup",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance unique identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.BackupTargetSpec": {
        "type": "object",
        "description": "Target specification for an instance backup",
        "properties": {
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupInstanceRef"
              }
            ],
            "description": "Source instance reference"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired backup name"
          }
        },
        "required": [
          "instance",
          "location",
          "name"
        ]
      },
      "publicCloud.instance.ConsoleOutput": {
        "type": "object",
        "description": "Console output (log) retrieved from an instance",
        "properties": {
          "output": {
            "type": "string",
            "description": "The console output text",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.FlavorBandwidth": {
        "type": "object",
        "description": "Network bandwidth of a flavor\n\nThe bandwidth an instance of the flavor gets, in Mbit/s.",
        "properties": {
          "private": {
            "type": "integer",
            "description": "Bandwidth on private networks (vRack), in Mbit/s. Null when the flavor does not declare it.",
            "nullable": true,
            "readOnly": true
          },
          "publicInbound": {
            "type": "integer",
            "description": "Inbound bandwidth on the public network, in Mbit/s. Null when the flavor does not declare it.",
            "nullable": true,
            "readOnly": true
          },
          "publicOutbound": {
            "type": "integer",
            "description": "Outbound bandwidth on the public network, in Mbit/s. Null when the flavor does not declare it.",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.ImageStatusEnum": {
        "type": "string",
        "description": "OpenStack image status\n\nLifecycle status of an instance image as reported by OpenStack Glance. It describes where the image is in its upload and availability lifecycle.\n\nValues\nQUEUED — The image identifier has been reserved in the image registry, but no image data has been uploaded yet.\nSAVING — The raw image data is currently being uploaded to the image store.\nIMPORTING — The uploaded image data is being imported and processed through the Glance import workflow.\nACTIVE — The image is fully available and can be used to boot instances.\nDEACTIVATED — Access to the image has been disabled by an administrator; the data is preserved but the image cannot be used to launch instances until reactivated.\nKILLED — An error occurred during upload or import and the image data is not usable.\nPENDING_DELETE — The image has been marked for deletion but its data has not been removed yet; it may still be restorable during the retention delay.\nDELETED — The image has been deleted and its data is scheduled for removal.",
        "enum": [
          "ACTIVE",
          "DEACTIVATED",
          "DELETED",
          "IMPORTING",
          "KILLED",
          "PENDING_DELETE",
          "QUEUED",
          "SAVING"
        ]
      },
      "publicCloud.instance.ImageVisibilityEnum": {
        "type": "string",
        "description": "Possible visibility levels for an instance image",
        "enum": [
          "COMMUNITY",
          "PRIVATE",
          "PUBLIC",
          "SHARED"
        ]
      },
      "publicCloud.instance.Instance": {
        "type": "object",
        "description": "Compute instance\n\nA Public Cloud compute instance: a virtual machine provisioned from a flavor and an image, connected to one or more networks and backed by block volumes.\n\nThe resource follows the standard desired-state / observed-state model:\ntargetSpec holds the specification you asked for.\ncurrentState reflects what the compute backend actually reports.\nresourceStatus and currentTasks describe the reconciliation between the two.\n\nUpdates are performed by sending a new targetSpec on the PUT route; the requested operations (rename, resize, power change, volume attach/detach, share attach/detach) are derived from the diff.",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Concurrency-control checksum\n\nComputed hash representing the current targetSpec value. It enables optional optimistic concurrency control: the value returned by a GET may be sent back in the PUT and action payloads, and the request is then rejected with a 409 checksum-mismatch conflict if it no longer matches server-side (because another request modified the instance in the meantime). Sending no checksum skips that check and forces the write (last-write-wins).",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the instance, as an ISO 8601 / RFC 3339 timestamp.",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceCurrentState"
              }
            ],
            "description": "Observed state\n\nCurrent observed state of the instance as reported by the compute backend (name, flavor, image, location, power state, networks, attached volumes, attached shares, security groups).\n\nIt is null while the instance is still being created and no backend state is available yet.",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "In-progress operations\n\nOngoing asynchronous tasks reconciling currentState toward targetSpec (for example a create, resize, reboot, volume attach or share attach). Poll the instance until this list is empty and resourceStatus is READY to know the requested change has been applied.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the instance.",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Resource lifecycle status\n\nHigh-level readiness of the instance in the system (for example CREATING, READY, UPDATING, DELETING, ERROR).\n\nThis is distinct from currentState.powerState, which carries the lower-level OpenStack administrative power state of the virtual machine.",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceReadTargetSpec"
              }
            ],
            "description": "Desired specification\n\nLast target specification requested for the instance. On update, the difference between the previous and the new targetSpec determines the operations performed (rename, resize, power change, and declarative volume/share attach-detach).",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last modification date of the instance, as an ISO 8601 / RFC 3339 timestamp.",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceActionParameters": {
        "type": "object",
        "description": "Instance action parameters\n\nOptional parameters refining an imperative instance action. Each field applies only to a specific action type (see InstanceActionTypeEnum) and is ignored for other actions.",
        "properties": {
          "hard": {
            "type": "boolean",
            "description": "Hard reboot\n\nApplies only to the REBOOT action. When true, performs a hard reboot (power cycle) instead of a graceful, soft reboot. Defaults to a soft reboot when omitted.",
            "nullable": true
          },
          "imageId": {
            "type": "string",
            "description": "Rescue image\n\nApplies only to the RESCUE action. Identifier of the image to boot the instance from while in rescue mode. When omitted, the backend selects a default rescue image.",
            "nullable": true
          }
        }
      },
      "publicCloud.instance.InstanceActionRequest": {
        "type": "object",
        "description": "Instance action request\n\nPayload for triggering an imperative action on an instance (for example lock, reboot or rescue). Unlike the declarative PUT update, an action directly commands an administrative or operational state change.\n\nThe checksum from the last GET may be supplied to opt in to optimistic concurrency control; omitting it forces the action.",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Concurrency-control checksum\n\nOptional checksum obtained from the last GET of the instance. When supplied, it must still match the instance's current checksum or the action is rejected with a 409 checksum-mismatch conflict, protecting against a concurrent modification. When omitted or empty, the concurrency check is skipped and the action is forced (last-write-wins).",
            "nullable": true
          },
          "parameters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceActionParameters"
              }
            ],
            "description": "Parameters\n\nOptional parameters refining the requested action (see InstanceActionParameters). Only relevant for actions that accept options, such as a hard REBOOT or a RESCUE with a specific image; omit for actions that take none.",
            "nullable": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceActionTypeEnum"
              }
            ],
            "description": "Action type\n\nThe imperative action to perform on the instance (see InstanceActionTypeEnum: LOCK, UNLOCK, REBOOT, RESCUE, UNRESCUE)."
          }
        },
        "required": [
          "type"
        ]
      },
      "publicCloud.instance.InstanceActionTypeEnum": {
        "type": "string",
        "description": "Instance action type\n\nImperative action that can be triggered on an instance to change its administrative or operational state.\n\nValues\nLOCK — Lock the instance to prevent further actions on it, protecting it from accidental or unauthorized operations.\nUNLOCK — Remove a previously set lock, re-enabling actions on the instance.\nREBOOT — Restart the instance.\nRESCUE — Boot the instance into rescue mode from a rescue image so its root disk can be inspected or repaired.\nUNRESCUE — Return the instance from rescue mode to normal operation.",
        "enum": [
          "LOCK",
          "REBOOT",
          "RESCUE",
          "UNLOCK",
          "UNRESCUE"
        ]
      },
      "publicCloud.instance.InstanceCreation": {
        "type": "object",
        "description": "Instance creation payload\n\nRequest body for creating a Public Cloud instance (POST). It wraps the desired InstanceTargetSpec, which carries every settable field including those that become immutable once the instance exists (location, sshKeyName, placement group). userData (cloud-init) is write-only — never echoed back on GET/LIST — and, unlike those fields, remains mutable after creation via PUT, though any change to it reinstalls the instance.",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceTargetSpec"
              }
            ],
            "description": "Desired specification\n\nFull target specification of the instance to create. See InstanceTargetSpec for the per-field creation rules and immutability constraints."
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.instance.InstanceCurrentState": {
        "type": "object",
        "description": "Observed instance state\n\nCurrent observed state of the instance as reported by the compute backend (OpenStack/Nova). It is read-only and reflects what actually exists, as opposed to targetSpec which holds what was requested.\n\nSome collections (notably shares) are only populated on a GET of a single instance and are omitted from the LIST response.",
        "properties": {
          "flavor": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceFlavor"
              }
            ],
            "description": "Flavor\n\nObserved flavor of the instance with full details (name, vCPUs, RAM, local disk). See InstanceFlavor.",
            "readOnly": true
          },
          "group": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceGroupRef"
              }
            ],
            "description": "Placement group\n\nReference to the instance (placement) group the instance belongs to, or null when it is not part of any group. Set at creation and immutable thereafter.",
            "nullable": true,
            "readOnly": true
          },
          "hostId": {
            "type": "string",
            "description": "Opaque identifier of the physical host the instance is running on, as exposed by OpenStack. Null when not available.",
            "nullable": true,
            "readOnly": true
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceImage"
              }
            ],
            "description": "Image\n\nObserved image the instance was booted from, with full details (name, size, status). Null for boot-from-volume instances, which have no image. See InstanceImage.",
            "nullable": true,
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceLocation"
              }
            ],
            "description": "Location\n\nObserved region and availability zone where the instance is provisioned. See InstanceLocation.",
            "readOnly": true
          },
          "locked": {
            "type": "boolean",
            "description": "Lock state\n\nWhether the instance is locked against modifications. When locked, mutating actions are refused until it is unlocked (see the LOCK/UNLOCK actions in InstanceActionTypeEnum).",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Observed display name of the instance.",
            "readOnly": true
          },
          "networks": {
            "type": "array",
            "description": "Networks\n\nObserved network interfaces of the instance, with full details (network, subnet, gateway and per-interface addresses). One entry per network, plus at most one entry without an id for the public (Ext-Net) interface. Every address of the instance is reported through the entry's addresses list, each address typed FIXED, FLOATING or ADDITIONAL — there is no separate scalar address field. See InstanceNetwork.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceNetwork"
            },
            "readOnly": true
          },
          "powerState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.PowerStateEnum"
              }
            ],
            "description": "Power state\n\nActual administrative power state of the instance as reported by OpenStack (see PowerStateEnum). This may transiently differ from targetSpec.powerState while a power transition is in progress.",
            "readOnly": true
          },
          "projectId": {
            "type": "string",
            "description": "Identifier of the Public Cloud project the instance belongs to.",
            "readOnly": true
          },
          "securityGroups": {
            "type": "array",
            "description": "Security groups\n\nReferences to the security groups currently attached to the instance's ports.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.securityGroup.SecurityGroupRef"
            },
            "readOnly": true
          },
          "shares": {
            "type": "array",
            "description": "Shares\n\nObserved instance-side share attachments. Only populated on a GET of a single instance (never in list responses).\n\nMixing per-share access rules (managed directly on the share resource) with instance-side attach on the same share is unsupported and will show the share OUT_OF_SYNC. See InstanceShare.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceShare"
            },
            "readOnly": true
          },
          "sshKeyName": {
            "type": "string",
            "description": "Name of the SSH key pair injected into the instance at boot, or null when none was provided.",
            "nullable": true,
            "readOnly": true
          },
          "userId": {
            "type": "string",
            "description": "Identifier of the OpenStack user that owns the instance.",
            "readOnly": true
          },
          "volumes": {
            "type": "array",
            "description": "Volumes\n\nObserved block volumes attached to the instance, with details (name, size). See InstanceVolume.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceVolume"
            },
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceFlavor": {
        "type": "object",
        "description": "Instance flavor details\n\nObserved flavor of an instance, carrying the full sizing details as reported by the backend. Used in currentState; the creation/update side references a flavor by id through InstanceFlavorRef.",
        "properties": {
          "bandwidth": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.FlavorBandwidth"
              }
            ],
            "description": "Network bandwidth of the flavor, in Mbit/s. Null when the flavor is not in the catalog.",
            "nullable": true,
            "readOnly": true
          },
          "disk": {
            "type": "integer",
            "description": "Size of the flavor's local root disk, in GB.",
            "readOnly": true
          },
          "gpus": {
            "type": "integer",
            "description": "Number of physical GPUs provided by the flavor, 0 for flavors without GPU.",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the flavor.",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Human-readable flavor name (for example the commercial flavor label).",
            "readOnly": true
          },
          "ram": {
            "type": "integer",
            "description": "Amount of RAM provided by the flavor, in MB.",
            "readOnly": true
          },
          "vcpus": {
            "type": "integer",
            "description": "Number of virtual CPUs provided by the flavor.",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceFlavorRef": {
        "type": "object",
        "description": "Instance flavor reference\n\nUser-controlled reference to the flavor that sizes the instance, used in targetSpec. It carries only the flavor id; the full observed sizing is exposed in currentState through InstanceFlavor.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the flavor to size the instance with. Changing it on update triggers a resize.",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.InstanceGroupRef": {
        "type": "object",
        "description": "Instance group reference\n\nReference to the instance (placement) group the instance belongs to, controlling affinity/anti-affinity placement. Used in targetSpec to place the instance at creation and echoed in currentState.\n\nThe group is set only at creation time and is immutable afterward — OpenStack/Nova server groups cannot be changed, so membership cannot be modified on a running instance.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the instance group. Honored only at creation time; the group cannot be changed afterward.",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.InstanceImage": {
        "type": "object",
        "description": "Instance image details\n\nObserved image an instance was booted from, carrying the full details as reported by OpenStack Glance. Used in currentState; the creation/update side references an image by id through InstanceImageRef.",
        "properties": {
          "defaultUser": {
            "type": "string",
            "description": "Default login user of the image, as set by its publisher, for example almalinux or ubuntu. Null when the image declares none.",
            "nullable": true,
            "readOnly": true
          },
          "deprecated": {
            "type": "boolean",
            "description": "Whether the image is flagged as deprecated. A deprecated image can still boot existing instances but is no longer recommended for new ones.",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the image.",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Human-readable image name, or null when not reported by the backend.",
            "nullable": true,
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Size of the image, in bytes. Null when the backend does not report it.",
            "nullable": true,
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.ImageStatusEnum"
              }
            ],
            "description": "Lifecycle status of the image as reported by Glance (see ImageStatusEnum). Null when not reported.",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceImageRef": {
        "type": "object",
        "description": "Instance image reference\n\nUser-controlled reference to the image the instance boots from, used in targetSpec. It carries only the image id; the full observed image is exposed in currentState through InstanceImage.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the image to boot from. Changing it on update triggers a rebuild of the instance.",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.InstanceLocation": {
        "type": "object",
        "description": "Instance location\n\nGeographic placement of an instance: the region and, optionally, the availability zone within that region. In targetSpec it is the desired placement (immutable after creation); in currentState it is the observed placement.",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone\n\nAvailability zone within the region where the instance is placed. Optional: when omitted at creation the backend selects a zone automatically. Immutable after creation.",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region\n\nCode of the region where the instance is provisioned (for example GRA11, BHS5). Immutable after creation — an instance cannot be moved to another region."
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.instance.InstanceNetwork": {
        "type": "object",
        "description": "Instance network interface (observed)\n\nObserved network interface attached to an instance, with full details as reported by the backend. Used in currentState; the creation/update side declares interfaces through InstanceNetworkRef.",
        "properties": {
          "addresses": {
            "type": "array",
            "description": "Addresses\n\nEvery IP address through which the instance is reachable on this interface, each with its type, IP version and MAC address. It carries the interface's fixed addresses and, where applicable, the floating IP associated with it and any additional IPs routed to it. This is the single source of truth for the instance's observed addresses. Null or empty only while no address has been assigned yet. See InstanceNetworkAddress.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceNetworkAddress"
            },
            "readOnly": true
          },
          "gatewayId": {
            "type": "string",
            "description": "Identifier of the gateway providing egress for this interface, or null when none applies.",
            "nullable": true,
            "format": "uuid",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Identifier of the network this interface is attached to, or null for the public (Ext-Net) interface. There is at most one entry without an id: additional IPs are reported as ADDITIONAL addresses of that public entry instead of forming their own entry.",
            "nullable": true,
            "format": "uuid",
            "readOnly": true
          },
          "subnetId": {
            "type": "string",
            "description": "Identifier of the subnet this interface draws its fixed address from, or null for an entry without a network id.",
            "nullable": true,
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceNetworkAddress": {
        "type": "object",
        "description": "Instance network address\n\nA single IP address bound to an instance network interface, with its associated MAC address, IP version and address type.",
        "properties": {
          "ip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "IP address assigned to the interface (IPv4 or IPv6).",
            "readOnly": true
          },
          "mac": {
            "allOf": [
              {
                "$ref": "#/components/schemas/macAddress"
              }
            ],
            "description": "MAC address of the interface this IP is bound to. Null when the backend reports no interface for the address, which happens for an additional IP routed to an instance whose public interface has no visible Ext-Net address yet.",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceNetworkAddressTypeEnum"
              }
            ],
            "description": "Address type\n\nHow this address reaches the instance: FIXED for an address assigned to the interface itself, FLOATING for a floating IP NAT'd onto it, ADDITIONAL for an additional IP routed to the public interface. See InstanceNetworkAddressTypeEnum.",
            "readOnly": true
          },
          "version": {
            "type": "integer",
            "description": "IP version of the address (4 for IPv4, 6 for IPv6).",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceNetworkAddressTypeEnum": {
        "type": "string",
        "description": "Instance network address type\n\nNature of an IP address observed on an instance network interface, telling how the address reaches the instance.\n\nValues\nFIXED — An address assigned to the interface itself: the fixed address of a private interface (whether assigned by IPAM or pinned), or the platform-assigned or pinned Ext-Net address of the public interface.\nFLOATING — A floating IP NAT'd onto this interface: the address is not configured on the interface, the network translates it to the interface's fixed address.\nADDITIONAL — An additional IP (also known as a failover IP, implemented as an ipalias) routed to the instance's public interface.",
        "enum": [
          "ADDITIONAL",
          "FIXED",
          "FLOATING"
        ]
      },
      "publicCloud.instance.InstanceNetworkRef": {
        "type": "object",
        "description": "Instance network reference (desired)\n\nUser-controlled entry declaring one network interface to attach to the instance in targetSpec. Which fields are set determines the meaning of the entry:\n* autoAssignPublicIp alone — a public (Ext-Net) interface with a platform-assigned public IP. At most one entry of the list may set it.\n* ip alone, without an id — a public IP the project already owns: either an additional IP, or an Ext-Net IP of the project in the instance's region. Any other address is rejected. Such an entry implicitly attaches the public (Ext-Net) interface. Several of them are allowed, and they may coexist with an autoAssignPublicIp entry.\n* id and subnetId — a private interface whose fixed address is assigned by IPAM.\n* id, subnetId and ip — a private interface where ip pins the fixed address when it falls inside the subnet CIDR, and otherwise designates an EXISTING floating IP to associate with that interface.\n\nThe enclosing networks list is declarative: adding or removing an entry attaches or detaches the corresponding interface on update.",
        "properties": {
          "autoAssignPublicIp": {
            "type": "boolean",
            "description": "Auto-assign public IP\n\nWhether to attach a public (Ext-Net) interface with a public IP assigned by the platform. Only allowed on an entry that has neither an id nor an ip, and at most one entry of the networks list may set it. Requires the optional instance/usePublicIP IAM action.",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "Network\n\nIdentifier of the private network to attach to. Required, together with subnetId, for a private interface; omit it on an entry declaring public connectivity through autoAssignPublicIp or ip.",
            "nullable": true,
            "format": "uuid"
          },
          "ip": {
[...]
