{
  "openapi": "3.0.0",
  "info": {
    "title": "OVHcloud API specification",
    "description": "Specification for OVHcloud API",
    "version": "1.0",
    "contact": {
      "name": "OVH",
      "email": "api@ml.ovh.net"
    }
  },
  "servers": [
    {
      "url": "https://eu.api.ovh.com/v2"
    }
  ],
  "components": {
    "schemas": {
      "any": {
        "description": "Can be anything (text, int, bool, json, html, etc.)",
        "example": "This is a content of any type !"
      },
      "common.CurrentTask": {
        "type": "object",
        "description": "Asynchronous operation currently running",
        "properties": {
          "errors": {
            "type": "array",
            "description": "Errors that occured on the task",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.TaskError"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Identifier of the current task",
            "format": "uuid",
            "readOnly": true
          },
          "link": {
            "type": "string",
            "description": "Link to the task details",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.CurrentTaskStatusEnum"
              }
            ],
            "description": "Current global status of the current task",
            "nullable": true,
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "Type of the current task",
            "readOnly": true
          }
        }
      },
      "common.CurrentTaskStatusEnum": {
        "type": "string",
        "description": "Current status of a task. A task in ERROR cannot be retried without your inputs. PENDING tasks will be executed as soon as possible. A RUNNING task is currently executing your original request. SCHEDULED is used for tasks that will be executed in the future",
        "enum": [
          "ERROR",
          "PENDING",
          "RUNNING",
          "SCHEDULED",
          "WAITING_USER_INPUT"
        ]
      },
      "common.Event": {
        "type": "object",
        "description": "Represents an event for an async envelope",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Creation date of the event",
            "format": "date-time",
            "readOnly": true
          },
          "kind": {
            "type": "string",
            "description": "Nature of the event",
            "readOnly": true
          },
          "link": {
            "type": "string",
            "description": "Link to the event related resource",
            "nullable": true,
            "readOnly": true
          },
          "message": {
            "type": "string",
            "description": "Description of what happened on the event",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.EventTypeEnum"
              }
            ],
            "description": "Type of the event",
            "readOnly": true
          }
        }
      },
      "common.EventTypeEnum": {
        "type": "string",
        "description": "List all defined values for an event type field",
        "enum": [
          "TARGET_SPEC_UPDATE",
          "TASK_ERROR",
          "TASK_START",
          "TASK_SUCCESS"
        ]
      },
      "common.ResourceStatusEnum": {
        "type": "string",
        "description": "ResourceStatusEnum",
        "enum": [
          "CREATING",
          "DELETING",
          "ERROR",
          "OUT_OF_SYNC",
          "READY",
          "SUSPENDED",
          "UNKNOWN",
          "UPDATING"
        ]
      },
      "common.Task": {
        "type": "object",
        "description": "Asynchronous operation",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Creation date of the task",
            "format": "date-time",
            "readOnly": true
          },
          "errors": {
            "type": "array",
            "description": "Errors that occured on the task",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.TaskError"
            },
            "readOnly": true
          },
          "finishedAt": {
            "type": "string",
            "description": "Ending date of the task",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Identifier of the task",
            "format": "uuid",
            "readOnly": true
          },
          "link": {
            "type": "string",
            "description": "Link to the related resource",
            "readOnly": true
          },
          "message": {
            "type": "string",
            "description": "Description of the task",
            "readOnly": true
          },
          "progress": {
            "type": "array",
            "description": "Progress steps of the asynchronous operation",
            "items": {
              "$ref": "#/components/schemas/common.TaskProgress"
            },
            "readOnly": true
          },
          "startedAt": {
            "type": "string",
            "description": "Starting date of the task",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.TaskStatusEnum"
              }
            ],
            "description": "Current global status of the task",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "Type of the task",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update of the task",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "common.TaskError": {
        "type": "object",
        "description": "Errors that occured on the task",
        "properties": {
          "message": {
            "type": "string",
            "description": "Error description",
            "readOnly": true
          }
        }
      },
      "common.TaskProgress": {
        "type": "object",
        "description": "Detailed information about an asynchronous operation progress steps",
        "properties": {
          "name": {
            "type": "string",
            "description": "Progress step name",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.TaskStatusEnum"
              }
            ],
            "description": "Current status of the progress step",
            "readOnly": true
          }
        }
      },
      "common.TaskStatusEnum": {
        "type": "string",
        "description": "TaskStatusEnum",
        "enum": [
          "DONE",
          "ERROR",
          "PENDING",
          "RUNNING",
          "SCHEDULED",
          "WAITING_USER_INPUT"
        ]
      },
      "duration": {
        "type": "string",
        "description": "Duration (e.g., P1Y2M3DT4H6M9S)",
        "example": "P1Y2M3DT4H6M9S"
      },
      "email": {
        "type": "string",
        "description": "Email address (e.g., api@ml.ovh.net)",
        "format": "email",
        "example": "api@ml.ovh.net"
      },
      "iam.ResourceMetadata": {
        "type": "object",
        "description": "IAM resource metadata embedded in services models",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Resource display name",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the resource",
            "format": "uuid",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.ResourceMetadata.StateEnum"
              }
            ],
            "description": "Resource state",
            "nullable": true,
            "readOnly": true
          },
          "tags": {
            "type": "object",
            "description": "Resource tags. Tags that were internally computed are prefixed with ovh:",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            },
            "readOnly": true
          },
          "urn": {
            "type": "string",
            "description": "Unique resource name used in policies",
            "readOnly": true
          }
        }
      },
      "iam.ResourceMetadata.StateEnum": {
        "type": "string",
        "description": "Resource state",
        "enum": [
          "EXPIRED",
          "IN_CREATION",
          "OK",
          "SUSPENDED"
        ]
      },
      "iam.resource.TagFilter": {
        "type": "object",
        "description": "Resource tag filter",
        "properties": {
          "operator": {
            "allOf": [
              {
                "$ref": "#/components/schemas/iam.resource.TagFilter.OperatorEnum"
              }
            ],
            "description": "Operator to use in order to filter on the value (defaults to 'EQ')",
            "nullable": true,
            "readOnly": true
          },
          "value": {
            "type": "string",
            "description": "Value to use in order to filter tags",
            "readOnly": true
          }
        }
      },
      "iam.resource.TagFilter.OperatorEnum": {
        "type": "string",
        "description": "Operator that can be used in order to filter resources tags",
        "enum": [
          "EQ",
          "EXISTS",
          "ILIKE",
          "LIKE",
          "NEQ",
          "NEXISTS"
        ]
      },
      "internationalPhoneNumber": {
        "type": "string",
        "description": "International phone number",
        "format": "phone-number"
      },
      "ip": {
        "type": "string",
        "description": "IP address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipBlock": {
        "type": "string",
        "description": "IP (v4 or v6) CIDR notation (e.g., 192.0.2.0/24)",
        "format": "ip-block",
        "example": "192.0.2.0/24"
      },
      "ipInterface": {
        "type": "string",
        "description": "IP address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipv4": {
        "type": "string",
        "description": "IPv4 address (e.g., 192.0.2.0)",
        "format": "ipv4",
        "example": "192.0.2.0"
      },
      "ipv4Block": {
        "type": "string",
        "description": "IPv4 CIDR notation (e.g., 192.0.2.0/24)",
        "format": "ipv4-block",
        "example": "192.0.2.0/24"
      },
      "ipv6": {
        "type": "string",
        "description": "IPv6 address (e.g., 2001:41d0:1:1994::1)",
        "format": "ipv6",
        "example": "2001:41d0:1:1994::1"
      },
      "ipv6Block": {
        "type": "string",
        "description": "IPv6 CIDR notation (e.g., 2001:41d0::/128)",
        "format": "ipv6-block",
        "example": "2001:41d0::/128"
      },
      "macAddress": {
        "type": "string",
        "description": "MAC address (e.g., 2001:4860:4860::8844)",
        "format": "mac-address",
        "example": "2001:4860:4860::8888. 2001:4860:4860::8844"
      },
      "phoneNumber": {
        "type": "string",
        "description": "Phone number",
        "format": "phone-number"
      },
      "publicCloud.blockStorage.Backup": {
        "type": "object",
        "description": "A Public Cloud block storage backup",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the backup",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupCurrentState"
              }
            ],
            "description": "Current observed state of the backup from the infrastructure",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the backup",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the backup",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Backup readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupTargetSpec"
              }
            ],
            "description": "Last target specification of the backup",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the backup",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BackupCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud block storage backup",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupTargetSpec"
              }
            ],
            "description": "Desired target specification for the backup"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BackupCurrentState": {
        "type": "object",
        "description": "Current state of a block storage backup as observed from the infrastructure",
        "properties": {
          "description": {
            "type": "string",
            "description": "Backup description",
            "nullable": true,
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current backup name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Size of the backup in GB",
            "readOnly": true
          },
          "volumeId": {
            "type": "string",
            "description": "Identifier of the source volume",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BackupTargetSpec": {
        "type": "object",
        "description": "Target specification for a block storage backup",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired backup description",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired backup name"
          },
          "volumeId": {
            "type": "string",
            "description": "Identifier of the source volume to backup",
            "format": "uuid"
          }
        },
        "required": [
          "location",
          "name",
          "volumeId"
        ]
      },
      "publicCloud.blockStorage.BackupUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud block storage backup",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications; represents the current target specification value"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BackupUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the backup"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BackupUpdateTargetSpec": {
        "type": "object",
        "description": "Target specification for updating a block storage backup (immutable fields like location and volumeId are excluded)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired backup description"
          },
          "name": {
            "type": "string",
            "description": "Desired backup name"
          }
        }
      },
      "publicCloud.blockStorage.Block": {
        "type": "object",
        "description": "A Public Cloud block storage volume",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the volume",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockCurrentState"
              }
            ],
            "description": "Current observed state of the volume from the infrastructure",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the volume",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the volume",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Volume readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockTargetSpec"
              }
            ],
            "description": "Last target specification of the volume",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the volume",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BlockAttachedInstance": {
        "type": "object",
        "description": "An instance currently attached to a block storage volume",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance unique identifier",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BlockCreateFrom": {
        "type": "object",
        "description": "Optional source to create a block storage volume from (backup, snapshot, or image). Only one source may be specified.",
        "properties": {
          "backupId": {
            "type": "string",
            "description": "UUID of a backup to restore from",
            "nullable": true,
            "format": "uuid"
          },
          "imageId": {
            "type": "string",
            "description": "UUID of a Glance image to create the volume from. The resulting volume will be bootable. `volumeType` is required when using this field.",
            "nullable": true,
            "format": "uuid"
          },
          "snapshotId": {
            "type": "string",
            "description": "UUID of a snapshot to create from",
            "nullable": true,
            "format": "uuid"
          }
        }
      },
      "publicCloud.blockStorage.BlockCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud block storage volume",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockTargetSpec"
              }
            ],
            "description": "Desired target specification for the volume"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BlockCurrentState": {
        "type": "object",
        "description": "Current state of a block storage volume as observed from the infrastructure",
        "properties": {
          "attachedInstances": {
            "type": "array",
            "description": "Instances currently attached to this volume",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.blockStorage.BlockAttachedInstance"
            },
            "readOnly": true
          },
          "bootable": {
            "type": "boolean",
            "description": "Whether the volume is bootable",
            "readOnly": true
          },
          "description": {
            "type": "string",
            "description": "Volume description",
            "nullable": true,
            "readOnly": true
          },
          "encryption": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockEncryption"
              }
            ],
            "description": "Encryption configuration of the volume",
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockLocation"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "locked": {
            "type": "boolean",
            "description": "Whether the volume is locked",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current volume name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Current size of the volume in GB",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeStatusEnum"
              }
            ],
            "description": "OpenStack volume status",
            "readOnly": true
          },
          "volumeType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeTypeEnum"
              }
            ],
            "description": "Current volume type",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.BlockEncryption": {
        "type": "object",
        "description": "Encryption configuration for a block storage volume",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether the volume is encrypted at rest with LUKS"
          }
        },
        "required": [
          "enabled"
        ]
      },
      "publicCloud.blockStorage.BlockLocation": {
        "type": "object",
        "description": "Location for a block storage volume",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.blockStorage.BlockTargetSpec": {
        "type": "object",
        "description": "Target specification for a block storage volume",
        "properties": {
          "createFrom": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockCreateFrom"
              }
            ],
            "description": "Optional source to create the volume from (backup or snapshot). Cannot be changed after creation.",
            "nullable": true
          },
          "encryption": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockEncryption"
              }
            ],
            "description": "Encryption configuration for the volume",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockLocation"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired volume name"
          },
          "size": {
            "type": "integer",
            "description": "Size of the volume in GB"
          },
          "volumeType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeTypeEnum"
              }
            ],
            "description": "Type of the volume. Required when creating a blank volume, omitted when creating from a backup or snapshot (inherited from source).",
            "nullable": true
          }
        },
        "required": [
          "location",
          "name",
          "size"
        ]
      },
      "publicCloud.blockStorage.BlockUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud block storage volume",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications; represents the current target specification value"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.BlockUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the volume"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.BlockUpdateTargetSpec": {
        "type": "object",
        "description": "Target specification for updating a block storage volume (immutable fields like location and encryption are excluded)",
        "properties": {
          "name": {
            "type": "string",
            "description": "Desired volume name"
          },
          "size": {
            "type": "integer",
            "description": "Size of the volume in GB"
          },
          "volumeType": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.VolumeTypeEnum"
              }
            ],
            "description": "Target volume type. Changing this triggers an online retype (migration).",
            "nullable": true
          }
        },
        "required": [
          "name",
          "size"
        ]
      },
      "publicCloud.blockStorage.Snapshot": {
        "type": "object",
        "description": "A Public Cloud block storage volume snapshot",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the snapshot",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotCurrentState"
              }
            ],
            "description": "Current observed state of the snapshot from the infrastructure",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the snapshot",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the snapshot",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Snapshot readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotTargetSpec"
              }
            ],
            "description": "Last target specification of the snapshot",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the snapshot",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.SnapshotCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud block storage volume snapshot",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotTargetSpec"
              }
            ],
            "description": "Desired target specification for the snapshot"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.SnapshotCurrentState": {
        "type": "object",
        "description": "Current state of a block storage volume snapshot as observed from the infrastructure",
        "properties": {
          "description": {
            "type": "string",
            "description": "Snapshot description",
            "nullable": true,
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current snapshot name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Size of the snapshot in GB",
            "readOnly": true
          },
          "volumeId": {
            "type": "string",
            "description": "ID of the volume this snapshot was created from",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.blockStorage.SnapshotTargetSpec": {
        "type": "object",
        "description": "Target specification for a block storage volume snapshot",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired snapshot description",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired snapshot name"
          },
          "volumeId": {
            "type": "string",
            "description": "ID of the volume to snapshot",
            "format": "uuid"
          }
        },
        "required": [
          "location",
          "name",
          "volumeId"
        ]
      },
      "publicCloud.blockStorage.SnapshotUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud block storage volume snapshot",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications; represents the current target specification value"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.blockStorage.SnapshotUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the snapshot"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.blockStorage.SnapshotUpdateTargetSpec": {
        "type": "object",
        "description": "Target specification for updating a block storage volume snapshot (immutable fields like location and volumeId are excluded)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Desired snapshot description"
          },
          "name": {
            "type": "string",
            "description": "Desired snapshot name"
          }
        },
        "required": [
          "name"
        ]
      },
      "publicCloud.blockStorage.VolumeStatusEnum": {
        "type": "string",
        "description": "Possible statuses for a block storage volume",
        "enum": [
          "ATTACHING",
          "AVAILABLE",
          "CREATING",
          "DELETING",
          "DETACHING",
          "DOWNLOADING",
          "ERROR",
          "ERROR_BACKING_UP",
          "ERROR_DELETING",
          "ERROR_EXTENDING",
          "ERROR_RESTORING",
          "EXTENDING",
          "IN_USE",
          "RETYPING"
        ]
      },
      "publicCloud.blockStorage.VolumeTypeEnum": {
        "type": "string",
        "description": "Possible volume types for a block storage volume",
        "enum": [
          "CLASSIC",
          "HIGH_SPEED",
          "HIGH_SPEED_GEN2"
        ]
      },
      "publicCloud.common.Location": {
        "type": "object",
        "description": "Resource location",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.floatingIp.FloatingIP": {
        "type": "object",
        "description": "A Public Cloud floating IP",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the floating IP",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPCurrentState"
              }
            ],
            "description": "Current state of the floating IP",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the floating IP",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the floating IP",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Floating IP readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPTargetSpec"
              }
            ],
            "description": "Last target specification of the floating IP",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the floating IP",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.floatingIp.FloatingIPCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud floating IP",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPTargetSpec"
              }
            ],
            "description": "Desired target specification for the floating IP to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.floatingIp.FloatingIPCurrentState": {
        "type": "object",
        "description": "Current state of a floating IP from OpenStack",
        "properties": {
          "description": {
            "type": "string",
            "description": "Floating IP description",
            "nullable": true,
            "readOnly": true
          },
          "ip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "Floating IP address",
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPLocation"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "network": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPNetwork"
              }
            ],
            "description": "Associated network",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPStatusEnum"
              }
            ],
            "description": "OpenStack floating IP status",
            "readOnly": true
          }
        }
      },
      "publicCloud.floatingIp.FloatingIPLocation": {
        "type": "object",
        "description": "Floating IP location",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.floatingIp.FloatingIPNetwork": {
        "type": "object",
        "description": "A network reference for a floating IP",
        "properties": {
          "id": {
            "type": "string",
            "description": "Network ID",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.floatingIp.FloatingIPStatusEnum": {
        "type": "string",
        "description": "OpenStack floating IP status",
        "enum": [
          "ACTIVE",
          "DOWN",
          "ERROR"
        ]
      },
      "publicCloud.floatingIp.FloatingIPTargetSpec": {
        "type": "object",
        "description": "Desired specification for a floating IP",
        "properties": {
          "description": {
            "type": "string",
            "description": "Floating IP description",
            "nullable": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPLocation"
              }
            ],
            "description": "Target location"
          }
        },
        "required": [
          "location"
        ]
      },
      "publicCloud.floatingIp.FloatingIPUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud floating IP",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.floatingIp.FloatingIPUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the floating IP"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.floatingIp.FloatingIPUpdateTargetSpec": {
        "type": "object",
        "description": "Desired specification for updating a floating IP (mutable fields only)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Floating IP description"
          }
        },
        "required": [
          "description"
        ]
      },
      "publicCloud.gateway.ExternalGateway": {
        "type": "object",
        "description": "External gateway configuration",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether the external gateway is enabled"
          },
          "model": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGatewayModelEnum"
              }
            ],
            "description": "External gateway sizing model. Present only when enabled is true.",
            "nullable": true
          }
        },
        "required": [
          "enabled"
        ]
      },
      "publicCloud.gateway.ExternalGatewayModelEnum": {
        "type": "string",
        "description": "External gateway sizing model",
        "enum": [
          "2XL",
          "3XL",
          "L",
          "M",
          "S",
          "XL"
        ]
      },
      "publicCloud.gateway.Gateway": {
        "type": "object",
        "description": "A Public Cloud gateway (OpenStack router)",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the gateway",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayCurrentState"
              }
            ],
            "description": "Current state of the gateway",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the gateway",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the gateway",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Gateway readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayTargetSpec"
              }
            ],
            "description": "Last target specification of the gateway",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the gateway",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.gateway.GatewayCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud gateway",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayTargetSpec"
              }
            ],
            "description": "Desired target specification for the gateway to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.gateway.GatewayCurrentState": {
        "type": "object",
        "description": "Current state of a gateway from OpenStack",
        "properties": {
          "description": {
            "type": "string",
            "description": "Gateway description",
            "nullable": true,
            "readOnly": true
          },
          "externalGateway": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGateway"
              }
            ],
            "description": "External gateway configuration",
            "readOnly": true
          },
          "externalIp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "External IP address assigned to the gateway",
            "nullable": true,
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayLocation"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Gateway name",
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayStatusEnum"
              }
            ],
            "description": "OpenStack router status",
            "readOnly": true
          },
          "subnets": {
            "type": "array",
            "description": "Currently attached subnets",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.gateway.GatewaySubnet"
            },
            "readOnly": true
          }
        }
      },
      "publicCloud.gateway.GatewayLocation": {
        "type": "object",
        "description": "Gateway location",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.gateway.GatewayStatusEnum": {
        "type": "string",
        "description": "OpenStack router status",
        "enum": [
          "ACTIVE",
          "BUILD",
          "DOWN",
          "ERROR"
        ]
      },
      "publicCloud.gateway.GatewaySubnet": {
        "type": "object",
        "description": "A subnet reference for a gateway",
        "properties": {
          "id": {
            "type": "string",
            "description": "Subnet ID",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.gateway.GatewayTargetSpec": {
        "type": "object",
        "description": "Desired specification for a gateway",
        "properties": {
          "description": {
            "type": "string",
            "description": "Gateway description",
            "nullable": true
          },
          "externalGateway": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGateway"
              }
            ],
            "description": "External gateway configuration"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayLocation"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Gateway name"
          },
          "subnets": {
            "type": "array",
            "description": "Subnets to attach as router interfaces",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.gateway.GatewaySubnet"
            }
          }
        },
        "required": [
          "externalGateway",
          "location",
          "name"
        ]
      },
      "publicCloud.gateway.GatewayUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud gateway",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.GatewayUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the gateway"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.gateway.GatewayUpdateTargetSpec": {
        "type": "object",
        "description": "Desired specification for updating a gateway (mutable fields only)",
        "properties": {
          "description": {
            "type": "string",
            "description": "Gateway description",
            "nullable": true
          },
          "externalGateway": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.gateway.ExternalGateway"
              }
            ],
            "description": "External gateway configuration"
          },
          "name": {
            "type": "string",
            "description": "Gateway name"
          },
          "subnets": {
            "type": "array",
            "description": "Subnets to attach as router interfaces",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.gateway.GatewaySubnet"
            }
          }
        },
        "required": [
          "externalGateway",
          "name"
        ]
      },
      "publicCloud.instance.Autobackup": {
        "type": "object",
        "description": "A Public Cloud instance autobackup (Mistral crontrigger for scheduled automatic backups)",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the autobackup",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupCurrentState"
              }
            ],
            "description": "Current state of the autobackup",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the autobackup",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the autobackup",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Autobackup readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupTargetSpec"
              }
            ],
            "description": "Last target specification of the autobackup",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the autobackup",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.AutobackupCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud instance autobackup",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupTargetSpec"
              }
            ],
            "description": "Desired target specification for the autobackup to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.instance.AutobackupCurrentState": {
        "type": "object",
        "description": "Current state of an instance autobackup as observed from the infrastructure",
        "properties": {
          "cron": {
            "type": "string",
            "description": "Cron schedule pattern",
            "readOnly": true
          },
          "distant": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupDistant"
              }
            ],
            "description": "Cross-region backup configuration",
            "nullable": true,
            "readOnly": true
          },
          "imageName": {
            "type": "string",
            "description": "Backup image name prefix",
            "readOnly": true
          },
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupInstanceRef"
              }
            ],
            "description": "Reference to the source instance",
            "readOnly": true
          },
          "lastExecutions": {
            "type": "array",
            "description": "Last 5 backup executions, newest first. Populated on GET only - null on LIST.",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.AutobackupExecution"
            },
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Crontrigger name",
            "readOnly": true
          },
          "nextExecutionTime": {
            "type": "string",
            "description": "Next scheduled execution time",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "rotation": {
            "type": "integer",
            "description": "Number of backup versions to keep",
            "readOnly": true
          },
          "workflowName": {
            "type": "string",
            "description": "OpenStack Mistral workflow name (e.g. ovh.backup_vm or ovh.backup_vm_remote_region)",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.AutobackupDistant": {
        "type": "object",
        "description": "Cross-region backup configuration for an autobackup",
        "properties": {
          "imageName": {
            "type": "string",
            "description": "Image name for cross-region backup copy"
          },
          "region": {
            "type": "string",
            "description": "Target region for cross-region backup"
          }
        },
        "required": [
          "imageName",
          "region"
        ]
      },
      "publicCloud.instance.AutobackupExecution": {
        "type": "object",
        "description": "A single execution of an instance autobackup, as recorded by the autobackup execution engine when the backup workflow runs",
        "properties": {
          "errorMessage": {
            "type": "string",
            "description": "Error message reported by the autobackup execution engine, populated only when state is ERROR",
            "nullable": true,
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Backup execution unique identifier",
            "format": "uuid",
            "readOnly": true
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp when the execution started",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupExecutionStateEnum"
              }
            ],
            "description": "Current state of the execution",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last state update reported by the autobackup execution engine",
            "nullable": true,
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.AutobackupExecutionStateEnum": {
        "type": "string",
        "description": "State of a single autobackup execution: SUCCESS when the backup completed, ERROR when it failed, RUNNING while in progress, IDLE when scheduled but not yet running.",
        "enum": [
          "ERROR",
          "IDLE",
          "RUNNING",
          "SUCCESS"
        ]
      },
      "publicCloud.instance.AutobackupInstanceRef": {
        "type": "object",
        "description": "Reference to the source instance for an autobackup",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.AutobackupTargetSpec": {
        "type": "object",
        "description": "Target specification for an instance autobackup (all fields, used for creation)",
        "properties": {
          "cron": {
            "type": "string",
            "description": "Cron schedule pattern (e.g. '0 2 * * *')"
          },
          "distant": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupDistant"
              }
            ],
            "description": "Cross-region backup configuration",
            "nullable": true
          },
          "imageName": {
            "type": "string",
            "description": "Backup image name prefix"
          },
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.AutobackupInstanceRef"
              }
            ],
            "description": "Reference to the source instance"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Crontrigger name"
          },
          "rotation": {
            "type": "integer",
            "description": "Number of backup versions to keep (minimum 1)"
          }
        },
        "required": [
          "cron",
          "imageName",
          "instance",
          "location",
          "name",
          "rotation"
        ]
      },
      "publicCloud.instance.Backup": {
        "type": "object",
        "description": "A Public Cloud instance backup (Glance image created from an instance)",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the backup",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupCurrentState"
              }
            ],
            "description": "Current state of the backup",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the backup",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the backup",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Backup readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupTargetSpec"
              }
            ],
            "description": "Last target specification of the backup",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the backup",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.BackupCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud instance backup",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupTargetSpec"
              }
            ],
            "description": "Desired target specification for the backup to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.instance.BackupCurrentState": {
        "type": "object",
        "description": "Current state of an instance backup as observed from the infrastructure",
        "properties": {
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupInstanceRef"
              }
            ],
            "description": "Source instance reference",
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Current location",
            "readOnly": true
          },
          "minDisk": {
            "type": "integer",
            "description": "Minimum disk size in GB required to boot",
            "nullable": true,
            "readOnly": true
          },
          "minRam": {
            "type": "integer",
            "description": "Minimum RAM in MB required to boot",
            "nullable": true,
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Current backup name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Image size in bytes",
            "nullable": true,
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.ImageStatusEnum"
              }
            ],
            "description": "Image status in the backend",
            "readOnly": true
          },
          "visibility": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.ImageVisibilityEnum"
              }
            ],
            "description": "Image visibility",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.BackupInstanceRef": {
        "type": "object",
        "description": "Reference to the source instance for a backup",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance unique identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.BackupTargetSpec": {
        "type": "object",
        "description": "Target specification for an instance backup",
        "properties": {
          "instance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.BackupInstanceRef"
              }
            ],
            "description": "Source instance reference"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired backup name"
          }
        },
        "required": [
          "instance",
          "location",
          "name"
        ]
      },
      "publicCloud.instance.ConsoleOutput": {
        "type": "object",
        "description": "Console output (log) retrieved from an instance",
        "properties": {
          "output": {
            "type": "string",
            "description": "The console output text",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.ImageStatusEnum": {
        "type": "string",
        "description": "Possible statuses for an instance image",
        "enum": [
          "ACTIVE",
          "DEACTIVATED",
          "DELETED",
          "IMPORTING",
          "KILLED",
          "PENDING_DELETE",
          "QUEUED",
          "SAVING"
        ]
      },
      "publicCloud.instance.ImageVisibilityEnum": {
        "type": "string",
        "description": "Possible visibility levels for an instance image",
        "enum": [
          "COMMUNITY",
          "PRIVATE",
          "PUBLIC",
          "SHARED"
        ]
      },
      "publicCloud.instance.Instance": {
        "type": "object",
        "description": "A Public Cloud compute instance",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the instance",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceCurrentState"
              }
            ],
            "description": "Current state of the instance",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the instance",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the instance",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Instance readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceTargetSpec"
              }
            ],
            "description": "Last target specification of the instance",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the instance",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceActionParameters": {
        "type": "object",
        "description": "Optional parameters for an instance action",
        "properties": {
          "hard": {
            "type": "boolean",
            "description": "Whether to perform a hard reboot (only for REBOOT action)",
            "nullable": true
          },
          "imageId": {
            "type": "string",
            "description": "Rescue image ID (only for RESCUE action)",
            "nullable": true
          }
        }
      },
      "publicCloud.instance.InstanceActionRequest": {
        "type": "object",
        "description": "Payload to perform an imperative action on an instance",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Current resource checksum for optimistic concurrency control"
          },
          "parameters": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceActionParameters"
              }
            ],
            "description": "Optional parameters for the action",
            "nullable": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceActionTypeEnum"
              }
            ],
            "description": "The action to perform"
          }
        },
        "required": [
          "checksum",
          "type"
        ]
      },
      "publicCloud.instance.InstanceActionTypeEnum": {
        "type": "string",
        "description": "Supported imperative action types for an instance",
        "enum": [
          "LOCK",
          "REBOOT",
          "RESCUE",
          "UNLOCK",
          "UNRESCUE"
        ]
      },
      "publicCloud.instance.InstanceCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud instance",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceTargetSpec"
              }
            ],
            "description": "Desired target specification for the instance to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.instance.InstanceCurrentState": {
        "type": "object",
        "description": "Current state details of an instance",
        "properties": {
          "flavor": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceFlavor"
              }
            ],
            "description": "Flavor details",
            "readOnly": true
          },
          "group": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceGroupRef"
              }
            ],
            "description": "Instance group this instance belongs to",
            "nullable": true,
            "readOnly": true
          },
          "hostId": {
            "type": "string",
            "description": "Host identifier",
            "nullable": true,
            "readOnly": true
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceImage"
              }
            ],
            "description": "Image details",
            "readOnly": true
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceLocation"
              }
            ],
            "description": "Location details",
            "readOnly": true
          },
          "locked": {
            "type": "boolean",
            "description": "Whether the instance is locked against modifications",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Instance name",
            "readOnly": true
          },
          "networks": {
            "type": "array",
            "description": "List of instance networks",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceNetwork"
            },
            "readOnly": true
          },
          "powerState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.PowerStateEnum"
              }
            ],
            "description": "Actual power state as reported by OpenStack",
            "readOnly": true
          },
          "projectId": {
            "type": "string",
            "description": "Project identifier",
            "readOnly": true
          },
          "securityGroups": {
            "type": "array",
            "description": "Security group references attached to the instance",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.securityGroup.SecurityGroupRef"
            },
            "readOnly": true
          },
          "sshKeyName": {
            "type": "string",
            "description": "Associated SSH key name",
            "nullable": true,
            "readOnly": true
          },
          "userId": {
            "type": "string",
            "description": "User identifier",
            "readOnly": true
          },
          "volumes": {
            "type": "array",
            "description": "Attached block volumes",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceVolume"
            },
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceFlavor": {
        "type": "object",
        "description": "Flavor details of an instance",
        "properties": {
          "disk": {
            "type": "integer",
            "description": "Local disk size in GB",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Flavor identifier",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Flavor name",
            "readOnly": true
          },
          "ram": {
            "type": "integer",
            "description": "RAM in MB",
            "readOnly": true
          },
          "vcpus": {
            "type": "integer",
            "description": "Number of vCPUs",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceFlavorRef": {
        "type": "object",
        "description": "Reference to a flavor for instance target spec",
        "properties": {
          "id": {
            "type": "string",
            "description": "Flavor identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.InstanceGroupRef": {
        "type": "object",
        "description": "Reference to an instance group",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance group identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.InstanceImage": {
        "type": "object",
        "description": "Image details of an instance",
        "properties": {
          "deprecated": {
            "type": "boolean",
            "description": "Whether the image is deprecated",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Image identifier",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Image name",
            "nullable": true,
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Image size in bytes",
            "nullable": true,
            "readOnly": true
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.ImageStatusEnum"
              }
            ],
            "description": "Image status",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceImageRef": {
        "type": "object",
        "description": "Reference to an image for instance target spec",
        "properties": {
          "id": {
            "type": "string",
            "description": "Image identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.InstanceLocation": {
        "type": "object",
        "description": "Instance location",
        "properties": {
          "availabilityZone": {
            "type": "string",
            "description": "Availability zone within the region",
            "nullable": true
          },
          "region": {
            "type": "string",
            "description": "Region code"
          }
        },
        "required": [
          "region"
        ]
      },
      "publicCloud.instance.InstanceNetwork": {
        "type": "object",
        "description": "Network attached to the instance",
        "properties": {
          "addresses": {
            "type": "array",
            "description": "IP addresses",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceNetworkAddress"
            },
            "readOnly": true
          },
          "floatingIpId": {
            "type": "string",
            "description": "Associated floating IP identifier",
            "nullable": true,
            "format": "uuid",
            "readOnly": true
          },
          "gatewayId": {
            "type": "string",
            "description": "Associated gateway identifier",
            "nullable": true,
            "format": "uuid",
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Network identifier",
            "format": "uuid",
            "readOnly": true
          },
          "public": {
            "type": "boolean",
            "description": "True if the network is public, false if private",
            "readOnly": true
          },
          "subnetId": {
            "type": "string",
            "description": "Subnet identifier",
            "nullable": true,
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceNetworkAddress": {
        "type": "object",
        "description": "An IP address of an instance network interface",
        "properties": {
          "ip": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ip"
              }
            ],
            "description": "IP address",
            "readOnly": true
          },
          "mac": {
            "allOf": [
              {
                "$ref": "#/components/schemas/macAddress"
              }
            ],
            "description": "MAC address",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "Address type (fixed, floating, ... )",
            "readOnly": true
          },
          "version": {
            "type": "integer",
            "description": "IP version",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceNetworkRef": {
        "type": "object",
        "description": "Reference to a network for instance target spec",
        "properties": {
          "floatingIpId": {
            "type": "string",
            "description": "Associated floating IP identifier",
            "nullable": true,
            "format": "uuid"
          },
          "id": {
            "type": "string",
            "description": "Network identifier",
            "nullable": true,
            "format": "uuid"
          },
          "public": {
            "type": "boolean",
            "description": "True if the network is public, false if private"
          },
          "subnetId": {
            "type": "string",
            "description": "Subnet identifier (required for private networks)",
            "nullable": true,
            "format": "uuid"
          }
        },
        "required": [
          "public"
        ]
      },
      "publicCloud.instance.InstanceTargetSpec": {
        "type": "object",
        "description": "Target specification for an instance",
        "properties": {
          "flavor": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceFlavorRef"
              }
            ],
            "description": "Flavor reference"
          },
          "group": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceGroupRef"
              }
            ],
            "description": "Instance group reference (placement policy, immutable after creation)",
            "nullable": true
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceImageRef"
              }
            ],
            "description": "Image reference"
          },
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceLocation"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Desired instance name"
          },
          "networks": {
            "type": "array",
            "description": "Network references",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceNetworkRef"
            }
          },
          "powerState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.PowerStateEnum"
              }
            ],
            "description": "Desired power state (defaults to ACTIVE if omitted)",
            "nullable": true
          },
          "securityGroups": {
            "type": "array",
            "description": "Security group references to apply to all instance ports",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.securityGroup.SecurityGroupRef"
            }
          },
          "sshKeyName": {
            "type": "string",
            "description": "Associated SSH key name",
            "nullable": true
          },
          "volumes": {
            "type": "array",
            "description": "Volume references",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceVolumeRef"
            }
          }
        },
        "required": [
          "flavor",
          "image",
          "location",
          "name",
          "networks",
          "volumes"
        ]
      },
      "publicCloud.instance.InstanceUpdate": {
        "type": "object",
        "description": "Payload to update a Public Cloud instance",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash controlling concurrent modifications; represents the current target specification value"
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceUpdateTargetSpec"
              }
            ],
            "description": "Desired target specification for the instance"
          }
        },
        "required": [
          "checksum",
          "targetSpec"
        ]
      },
      "publicCloud.instance.InstanceUpdateTargetSpec": {
        "type": "object",
        "description": "Target specification for updating an instance (location cannot be changed after creation)",
        "properties": {
          "flavor": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceFlavorRef"
              }
            ],
            "description": "Flavor reference"
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.InstanceImageRef"
              }
            ],
            "description": "Image reference"
          },
          "name": {
            "type": "string",
            "description": "Desired instance name"
          },
          "networks": {
            "type": "array",
            "description": "Network references",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceNetworkRef"
            }
          },
          "powerState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.PowerStateEnum"
              }
            ],
            "description": "Desired power state (defaults to ACTIVE if omitted)",
            "nullable": true
          },
          "securityGroups": {
            "type": "array",
            "description": "Security group references to apply to all instance ports",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.securityGroup.SecurityGroupRef"
            }
          },
          "volumes": {
            "type": "array",
            "description": "Volume references",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instance.InstanceVolumeRef"
            }
          }
        },
        "required": [
          "flavor",
          "image",
          "name",
          "networks",
          "volumes"
        ]
      },
      "publicCloud.instance.InstanceVolume": {
        "type": "object",
        "description": "Volume attached to the instance",
        "properties": {
          "id": {
            "type": "string",
            "description": "Volume identifier",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Volume name",
            "readOnly": true
          },
          "size": {
            "type": "integer",
            "description": "Volume size in GB",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.InstanceVolumeRef": {
        "type": "object",
        "description": "Reference to a volume for instance target spec",
        "properties": {
          "id": {
            "type": "string",
            "description": "Volume identifier",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "publicCloud.instance.PowerStateEnum": {
        "type": "string",
        "description": "Desired power state for an instance",
        "enum": [
          "ACTIVE",
          "RESCUE",
          "SHELVED",
          "SHUTOFF"
        ]
      },
      "publicCloud.instance.RemoteConsole": {
        "type": "object",
        "description": "A remote console session for an instance",
        "properties": {
          "protocol": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.RemoteConsoleProtocolEnum"
              }
            ],
            "description": "The remote console protocol",
            "readOnly": true
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.RemoteConsoleTypeEnum"
              }
            ],
            "description": "The display type for the remote console",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "description": "The URL to connect to the remote console",
            "readOnly": true
          }
        }
      },
      "publicCloud.instance.RemoteConsoleProtocolEnum": {
        "type": "string",
        "description": "Supported remote console protocols",
        "enum": [
          "SERIAL",
          "SPICE",
          "VNC"
        ]
      },
      "publicCloud.instance.RemoteConsoleRequest": {
        "type": "object",
        "description": "Request payload to create a remote console session for an instance",
        "properties": {
          "protocol": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.RemoteConsoleProtocolEnum"
              }
            ],
            "description": "The remote console protocol (VNC, SPICE, or SERIAL)"
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instance.RemoteConsoleTypeEnum"
              }
            ],
            "description": "The display type for the remote console (NOVNC, XVPVNC, SPICE_HTML5, or SERIAL)"
          }
        },
        "required": [
          "protocol",
          "type"
        ]
      },
      "publicCloud.instance.RemoteConsoleTypeEnum": {
        "type": "string",
        "description": "Supported remote console display types",
        "enum": [
          "NOVNC",
          "SERIAL",
          "SPICE_HTML5",
          "XVPVNC"
        ]
      },
      "publicCloud.instanceGroup.InstanceGroup": {
        "type": "object",
        "description": "A Public Cloud instance group (server group with placement policy)",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "Computed hash representing the current target specification value",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Creation date of the instance group",
            "format": "date-time",
            "readOnly": true
          },
          "currentState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instanceGroup.InstanceGroupCurrentState"
              }
            ],
            "description": "Current state of the instance group",
            "nullable": true,
            "readOnly": true
          },
          "currentTasks": {
            "type": "array",
            "description": "Ongoing asynchronous tasks related to the instance group",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/common.CurrentTask"
            },
            "readOnly": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the instance group",
            "format": "uuid",
            "readOnly": true
          },
          "resourceStatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/common.ResourceStatusEnum"
              }
            ],
            "description": "Instance group readiness in the system",
            "readOnly": true
          },
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instanceGroup.InstanceGroupTargetSpec"
              }
            ],
            "description": "Last target specification of the instance group",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Last update date of the instance group",
            "format": "date-time",
            "readOnly": true
          }
        }
      },
      "publicCloud.instanceGroup.InstanceGroupCreation": {
        "type": "object",
        "description": "Payload to create a Public Cloud instance group",
        "properties": {
          "targetSpec": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instanceGroup.InstanceGroupTargetSpec"
              }
            ],
            "description": "Desired target specification for the instance group to create"
          }
        },
        "required": [
          "targetSpec"
        ]
      },
      "publicCloud.instanceGroup.InstanceGroupCurrentState": {
        "type": "object",
        "description": "Current state of an instance group",
        "properties": {
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Deployment location",
            "readOnly": true
          },
          "members": {
            "type": "array",
            "description": "Instances in this group",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/publicCloud.instanceGroup.InstanceGroupMemberRef"
            },
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Instance group name",
            "readOnly": true
          },
          "policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instanceGroup.PolicyEnum"
              }
            ],
            "description": "Placement policy",
            "readOnly": true
          }
        }
      },
      "publicCloud.instanceGroup.InstanceGroupMemberRef": {
        "type": "object",
        "description": "Reference to an instance member of a group",
        "properties": {
          "id": {
            "type": "string",
            "description": "Instance identifier",
            "format": "uuid",
            "readOnly": true
          }
        }
      },
      "publicCloud.instanceGroup.InstanceGroupTargetSpec": {
        "type": "object",
        "description": "Target specification for an instance group",
        "properties": {
          "location": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.common.Location"
              }
            ],
            "description": "Target location"
          },
          "name": {
            "type": "string",
            "description": "Instance group name"
          },
          "policy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/publicCloud.instanceGroup.PolicyEnum"
              }
            ],
            "description": "Placement policy"
          }
        },
        "required": [
          "location",
          "name",
          "policy"
        ]
      },
      "publicCloud.instanceGroup.PolicyEnum": {
        "type": "string",
        "description": "Placement policy for an instance group",
        "enum": [
          "AFFINITY",
          "ANTI_AFFINITY"
        ]
      },
      "publicCloud.keyManager.AlgorithmEnum": {
        "type": "string",
        "description": "Algorithm associated with a Key Manager secret",
        "enum": [
          "AES",
          "DH",
          "DSA",
          "EC",
          "RSA"
        ]
      },
      "publicCloud.keyManager.BitLengthEnum": {
        "type": "integer",
        "description": "Bit length of a Key Manager secret",
        "enum": [
          128,
          256,
          512,
          1024,
          2048,
          4096
        ]
      },
      "publicCloud.keyManager.ConsumerResourceTypeEnum": {
        "type": "string",
        "description": "Type of resource consuming a Key Manager secret",
        "enum": [
          "IMAGE",
          "INSTANCE",
          "LOADBALANCER"
        ]
      },
      "publicCloud.keyManager.ConsumerServiceEnum": {
        "type": "string",
[...]
