🚀 VPS {{.ServiceName}} snapshot
=======

## General information

**ID**:           {{index .Result "id"}}
**Description**:  {{index .Result "description"}}
**Region**:       {{index .Result "region"}}
**Created at**:   {{index .Result "creationDate"}}

💡 Use option --json or --yaml to get the raw output with all information