🚀 SMS account {{.ServiceName}}
=======

{{if index .Result "name"}}_{{index .Result "name"}}_{{end}}
{{if index .Result "description"}}_{{index .Result "description"}}_{{end}}

## General information

**Status**:               {{index .Result "status"}}
**Channel**:              {{index .Result "channel"}}
**Can be used for SMPP**: {{index .Result "smpp"}}
**Credits left**:         {{index .Result "creditsLeft"}}

## IAM information

**URN**: {{index .Result "iam" "urn"}}
{{if index .Result "iam" "tags"}}
**Tags**:
| Key | Value |
| --- | --- |
{{ range $key, $value := (index .Result "iam" "tags") }}| {{$key}} | {{$value}} |
{{end}}
{{end}}

💡 Use option --json or --yaml to get the raw output with all information