📧 Email Redirection {{.ServiceName}}
=======

## Redirection Details

**ID**:         {{index .Result "id"}}
**From**:       {{index .Result "from"}}
**To**:         {{index .Result "to"}}
**Local Copy**: {{index .Result "localCopy"}}

💡 Use option -o json or -o yaml to get the raw output with all information
