🎣 Phishing entry {{.ServiceName}}
=======

| Key           | Value                                    |
| ------------- | ---------------------------------------- |
| ID            | {{index .Result "id"}}                   |
| IP            | {{index .Result "ipOnAntiphishing"}}     |
| State         | {{index .Result "state"}}                |
| Reported on   | {{index .Result "creationDate"}}         |
| URL           | {{index .Result "urlPhishing"}}          |
