🗂 RIPE record of {{.ServiceName}}
=======

| Key         | Value                                |
| ----------- | ------------------------------------ |
| Netname     | {{index .Result "netname"}}          |
| Description | {{index .Result "description"}}      |

💡 This record is published in the public registry.
