🚀 Region {{.ServiceName}}
=======

_{{index .Result "location"}}_

## Region information

**Type**:         {{index .Result "type"}}
**Topology**:     {{index .Result "specificType"}}
**Opening year**: {{index .Result "openingYear"}}

## Availability zones

{{range index .Result "availabilityZones"}}
- {{.}}{{end}}

## Region codes

| Key | Name | Code |
| --- | --- | --- |
| Geography | {{index .Result "geographyName"}} | {{index .Result "geographyCode"}} |
| Country | {{index .Result "countryName"}} | {{index .Result "countryCode"}} |
| City | {{index .Result "cityName"}} | {{index .Result "cityCode"}} |

💡 Use option --json or --yaml to get the raw output with all information