🌐 Attached domain {{.ServiceName}}
===========================

**Domain**: {{index .Result "domain"}}

**Path**: {{index .Result "path"}}

**Runtime ID**: {{index .Result "runtimeId"}}

**CDN**: {{index .Result "cdn"}}

**Firewall**: {{index .Result "firewall"}}

**SSL**: {{index .Result "ssl"}}

**Own logs**: {{index .Result "ownLog"}}

**IP location**: {{index .Result "ipLocation"}}

**Status**: {{index .Result "status"}}

**Flushable**: {{index .Result "isFlushable"}}

💡 Use option -o json or -o yaml to get the raw output with all information
