🛰️ CDN {{.ServiceName}}
================

**Domain**: {{index .Result "domain"}}

**Type**: {{index .Result "type"}}

**Version**: {{index .Result "version"}}

**Status**: {{index .Result "status"}}

**Free option**: {{index .Result "free"}}

**Active task**: {{index .Result "taskId"}}

💡 Use option --json or --yaml to get the raw output with all information
