📡 CDN Operation {{.ServiceName}}
=====================

**ID**: {{index .Result "id"}}

**Function**: {{index .Result "function"}}

**Status**: {{index .Result "status"}}

💡 Use option -o json or -o yaml to get the raw output with all information
