🧰 Available CDN Options for {{.ServiceName}}
================================

{{ $options := index .Result "options" -}}
{{ if not $options -}}
_No optional feature available for this CDN._
{{ else -}}
{{ range $opt := $options -}}
### {{index $opt "type"}} {{if index $opt "category"}}({{index $opt "category"}}){{end}}
- Max items: {{index $opt "maxItems"}}
{{ $cfg := index $opt "config" -}}
{{ if $cfg }}
- Configuration:
{{ range $key, $value := $cfg }}
  - {{ $key }}: {{ printf "%v" $value }}
{{ end }}
{{ end }}

{{ end -}}
{{ end }}

💡 Use option --json or --yaml to get the raw output with all information
