⏱️ Cron {{.ServiceName}}
================

**ID**: {{index .Result "id"}}

**Command**: {{index .Result "command"}}

**Frequency**: {{index .Result "frequency"}}

**Language**: {{index .Result "language"}}

**Email**: {{index .Result "email"}}

**Description**: {{index .Result "description"}}

**Status**: {{index .Result "status"}}

💡 Use option --json or --yaml to get the raw output with all information
