🗄️ Database Copy {{.ServiceName}}
======================

**Copy ID**: {{index .Result "id"}}

**Status**: {{index .Result "status"}}

**Creation date**: {{index .Result "creationDate"}}

**Last update**: {{index .Result "lastUpdate"}}

**Expiration date**: {{index .Result "expirationDate"}}

💡 Use option -o json or -o yaml to get the raw output with all information
