🗃️ Database Dump {{.ServiceName}}
========================

**Dump ID**: {{index .Result "id"}}

**Status**: {{index .Result "status"}}

**Type**: {{index .Result "type"}}

**Creation date**: {{index .Result "creationDate"}}

**Deletion date**: {{index .Result "deletionDate"}}

**Task ID**: {{index .Result "taskId"}}

**Download URL**: {{index .Result "url"}}

💡 Use option -o json or -o yaml to get the raw output with all information
