📮 Email Option {{.ServiceName}}
=====================

**ID**: {{index .Result "id"}}

**Domain**: {{index .Result "domain"}}

**Creation date**: {{index .Result "creationDate"}}

💡 Use option --json or --yaml to get the raw output with all information
