📦 Extra SQL Service Info {{.ObjectID}}
================================

{{ with $res := index .Result "resource" -}}
**Domain**: {{index $res "name"}}

**Display name**: {{index $res "displayName"}}

**Resource state**: {{index $res "state"}}
{{- end }}

**Service state**: {{index .Result "state"}}

**Quantity**: {{index .Result "quantity"}}

**Creation date**: {{index .Result "creationDate"}}

**Next billing date**: {{index .Result "nextBillingDate"}}

**Expiration date**: {{index .Result "expirationDate"}}

{{ with $route := index .Result "route" -}}
**Management URL**: {{index $route "url"}}
{{- end }}

💡 Use option --json or --yaml to get the raw output with all information
