🏢 Local SEO Account {{.ServiceName}}
===============================

**Email**: {{index .Result "email"}}

**Status**: {{index .Result "status"}}

**Created at**: {{index .Result "creationDate"}}

**Last update**: {{index .Result "lastUpdate"}}

{{ with $task := index .Result "taskId" -}}
**Active task**: {{$task}}
{{- end }}

💡 Use option --json or --yaml to get the full payload.
