📚 Module Catalog Entry {{.ServiceName}}
=================================

**ID**: {{index .Result "id"}}

**Name**: {{index .Result "name"}}

**Branch**: {{index .Result "branch"}}

**Version**: {{index .Result "version"}}

**Active**: {{index .Result "active"}}

**Latest**: {{index .Result "latest"}}

{{ with $desc := index .Result "description" -}}
**Description**: {{$desc}}

{{- end }}

{{ with $url := index .Result "url" -}}
**URL**: {{$url}}

{{- end }}

💡 Use option --json or --yaml to get the raw output with all information
