✅ Recommended OVH Config {{.ServiceName}}
===============================

**Engine**: {{index .Result "engineName"}} {{index .Result "engineVersion"}}

**Environment**: {{index .Result "environment"}}

**HTTP Firewall**: {{index .Result "httpFirewall"}}

**Container**: {{index .Result "container"}}

💡 Use option -o json or -o yaml to get the raw output with all information
