📒 Own Log {{.ObjectID}}
====================

**FQDN**: {{index .Result "fqdn"}}

**Logs URL**: {{index .Result "logs"}}

**Stats URL**: {{index .Result "stats"}}

**Status**: {{index .Result "status"}}

{{ with $task := index .Result "taskId" -}}
**Task ID**: {{$task}}
{{- end }}

💡 Use option -o json or -o yaml to get the raw output with all information
