🧱 Runtime Available Types {{.ServiceName}}
================================

{{ $types := index .Result "types" -}}
{{ if $types }}
| Type |
|------|
{{ range $types -}}
| {{.}} |
{{ end }}
{{ else }}
No runtime type available.
{{ end }}

💡 Use option --json or --yaml to get the raw output with all information
