📋 Task {{.ServiceName}}
=============

**ID**: {{index .Result "id"}}

**Function**: {{index .Result "function"}}

**Status**: {{index .Result "status"}}

**Last Update**: {{index .Result "lastUpdate"}}

💡 Use option --json or --yaml to get the raw output with all information
