🔑 DNS Token {{.ServiceName}}
============================

{{- with $token := index .Result "token" }}
**Token**: `{{$token}}`
{{- end }}

{{- range $key, $value := .Result }}
{{- if ne $key "token" }}
**{{ $key | toTitle }}**: {{$value}}
{{- end }}
{{- end }}

💡 Use option --json or --yaml to get the raw output with all information
