👤 User {{.ServiceName}}
==============

**Login**: {{index .Result "login"}}

**Home**: {{index .Result "home"}}

**SSH State**: {{index .Result "sshState"}}

**Status**: {{index .Result "status"}}

💡 Use option --json or --yaml to get the raw output with all information
