🚀 Volume {{.ServiceName}}
=======

_{{index .Result "currentState" "description"}}_

## General information

**Status**:        {{index .Result "resourceStatus"}}
**Creation date**: {{index .Result "createdAt"}}
**Update date**:   {{index .Result "updatedAt"}}

## Current state

**Name**:               {{index .Result "currentState" "name"}}
**Region**:             {{index .Result "currentState" "location" "region"}}
**Availability zone**:  {{index .Result "currentState" "location" "availabilityZone"}}
**Type**:               {{index .Result "currentState" "volumeType"}}
**Status**:             {{index .Result "currentState" "status"}}
**Size**:               {{index .Result "currentState" "size"}}GB
**Bootable**:           {{index .Result "currentState" "bootable"}}
**Attached instances**: {{index .Result "currentState" "attachedInstances"}}

## Target state

**Name**: {{index .Result "targetSpec" "name"}}
**Type**: {{index .Result "targetSpec" "volumeType"}}
**Size**: {{index .Result "targetSpec" "size"}}GB

💡 Use option -o json or -o yaml to get the raw output with all information
