🚀 Managed Kubernetes cluster customization
=======

_Cluster ID: {{.ServiceName}}_

## API server

### Admission Plugins

**Admission Plugins Enabled**:
{{- range index .Result "apiServer" "admissionPlugins" "enabled"}}
- {{.}}
{{- end}}

**Admission Plugins Disabled**:
{{- range index .Result "apiServer" "admissionPlugins" "disabled"}}
- {{.}}
{{- end}}

{{if index .Result "kubeProxy"}}
## Kube proxy

### iptables

**Refresh period**:         {{index .Result "kubeProxy" "iptables" "syncPeriod"}}
**Minimum refresh period**: {{index .Result "kubeProxy" "iptables" "minSyncPeriod"}}

### ipvs

**Minimum refresh period**: {{index .Result "kubeProxy" "ipvs" "minSyncPeriod"}}
**Refresh period**:         {{index .Result "kubeProxy" "ipvs" "syncPeriod"}}
**Scheduler**:              {{index .Result "kubeProxy" "ipvs" "scheduler"}}

**Timeout for IPVS TCP sessions after FIN**: {{index .Result "kubeProxy" "ipvs" "tcpFinTimeout"}}
**Timeout for idle IPVS TCP sessions**:      {{index .Result "kubeProxy" "ipvs" "tcpTimeout"}}
**Timeout for IPVS UDP packets**:            {{index .Result "kubeProxy" "ipvs" "udpTimeout"}}
{{end}}

### Cilium

{{if index .Result "Cilium"}}

**Hubble enabled**: {{index .Result "cilium" "hubbleEnabled"}}

**Hubble Relay enabled**: {{index .Result "cilium" "hubbleRelayEnabled"}}

**Hubble UI enabled**: {{index .Result "cilium" "hubbleUIEnabled"}}
**Hubble UI frontend CPU limit**: {{index .Result "cilium" "hubbleUIFrontendResourcesLimitsCPU"}}
**Hubble UI frontend memory limit**: {{index .Result "cilium" "hubbleUIFrontendResourcesLimitsMemory"}}
**Hubble UI frontend CPU request**: {{index .Result "cilium" "hubbleUIFrontendResourcesRequestsCPU"}}
**Hubble UI frontend memory request**: {{index .Result "cilium" "hubbleUIFrontendResourcesRequestsMemory"}}

**Cluster ID**: {{index .Result "cilium" "clusterID"}}
**ClusterMesh enabled**: {{index .Result "cilium" "clusterMeshEnabled"}}
**ClusterMesh API server node port**: {{index .Result "cilium" "clusterMeshAPIServerNodePort"}}
{{else}}
Cilium is not enabled on this cluster.
{{- end}}



💡 Use option -o json or -o yaml to get the raw output with all information