🚀 Managed Analytics - Database
=======

## General information

**ID**:       {{index .Result "id"}}
**Name**:     {{index .Result "name"}}
**Default**:  {{index .Result "default"}}

💡 Use option -o json or -o yaml to get the raw output with all information
