🚀 SSH key {{.ServiceName}}
=======

## General information

**Name**:          {{index .Result "name"}}
**Creation date**: {{index .Result "createdAt"}}
**Update date**:   {{index .Result "updatedAt"}}

## Public key

{{index .Result "publicKey"}}

💡 Use option -o json or -o yaml to get the raw output with all information
