🚀 Load balancer {{.ServiceName}}
=======

_{{index .Result "name"}}_

## General information

**Region**:              {{index .Result "region"}}
**Operating status**:    {{index .Result "operatingStatus"}}
**Provisioning status**: {{index .Result "provisioningStatus"}}
**Flavor ID**:           {{index .Result "flavorId"}}
**Creation date**:       {{index .Result "createdAt"}}

## Technical information

**VIP address**:        {{index .Result "vipAddress"}}
**VIP network ID**:     {{index .Result "vipNetworkId"}}
**VIP subnet ID**:      {{index .Result "vipSubnetId"}}
{{if index .Result "floatingIp"}}**Floating IP**:       {{index .Result "floatingIp"}}{{end}}

💡 Use option --json or --yaml to get the raw output with all information