🚨 Triggered Alert {{.ServiceName}}
=======

## Alert Details

**Alert ID**:      {{index .Result "alertId"}}
**Alert Date**:    {{index .Result "alertDate"}}
**Emails**:        {{index .Result "emails"}}

---

💡 Use option -o json or -o yaml to get the raw output with all information
