🚀 Managed Private Registry {{.ServiceName}}
=======

_{{index .Result "name"}}_

## General information

**Region**:        {{index .Result "region"}}
**Status**:        {{index .Result "status"}}
**Creation date**: {{index .Result "createdAt"}}
**Delivery date**: {{index .Result "deliveredAt"}}
**Update date**:   {{index .Result "updatedAt"}}

## Registry state

**Version**:     {{index .Result "version"}}
**Usage**:       {{formatByteSize (index .Result "usage" "used") 2 1024}} / {{formatByteSize (index .Result "usage" "available") 0 1024}}
**IAM enabled**: {{index .Result "iamEnabled"}}

[Registry URL]({{index .Result "url"}})

💡 Use option --json or --yaml to get the raw output with all information