🚀 Managed Analytics - Topic ACL
=======

## General information

**ID**:          {{index .Result "id"}}
**Username**:    {{index .Result "username"}}
**Topic**:       {{index .Result "topic"}}
**Permission**:  {{index .Result "permission"}}

💡 Use option -o json or -o yaml to get the raw output with all information
