🚀 Managed Private Registry user
=======

## General information

**ID**:       {{index .Result "id"}}
**Username**: {{index .Result "user"}}
**Email**:    {{index .Result "email"}}

💡 Use option -o json or -o yaml to get the raw output with all information