🚀 Instance {{.ServiceName}}
=======
{{$spec := index .Result "targetSpec"}}
_{{index $spec "name"}}_

## General information

**Status**:            {{index .Result "resourceStatus"}}
**Power state**:       {{index $spec "powerState"}}
**Region**:            {{index $spec "location" "region"}}
{{with index $spec "location" "availabilityZone"}}**Availability zone**: {{.}}
{{end}}**Creation date**:     {{index .Result "createdAt"}}
{{with index $spec "sshKeyName"}}**SSH key**:           {{.}}
{{end}}{{with index .Result "currentState"}}{{if index . "locked"}}**Locked**:            yes
{{end}}{{end}}
{{with index .Result "currentState"}}{{with index . "networks"}}
## IP addresses

| IP | Type | Version | Network |
| --- | --- | --- | --- |
{{range .}}{{$network := or (index . "id") "public"}}{{range index . "addresses"}}| {{index . "ip"}} | {{index . "type"}} | {{index . "version"}} | {{$network}} |
{{end}}{{end}}
{{end}}{{with index . "flavor"}}
## Flavor details

**Name**:    {{index . "name"}}
**vCPUs**:   {{index . "vcpus"}}
**RAM**:     {{index . "ram"}} MB
**Storage**: {{index . "disk"}} GB
{{with index . "bandwidth"}}**Bandwidth (public in / out, private)**: {{index . "publicInbound"}} / {{index . "publicOutbound"}}, {{index . "private"}} Mbit/s
{{end}}{{end}}{{with index . "image"}}
## Image details

**Name**:         {{index . "name"}}
{{with index . "defaultUser"}}**Default user**: {{.}}
{{end}}{{end}}{{end}}
{{with index $spec "volumes"}}
## Volumes

{{range .}}- {{index . "id"}}
{{end}}{{end}}{{with index $spec "securityGroups"}}
## Security groups

{{range .}}- {{index . "id"}}
{{end}}{{end}}{{with index .Result "currentTasks"}}
## Current tasks

| ID | Type | Status |
| --- | --- | --- |
{{range .}}| {{.id}} | {{.type}} | {{.status}} |
{{end}}{{end}}
💡 Use option -o json or -o yaml to get the raw output with all information
