📸 Share Snapshot {{.ServiceName}}
=======

_{{index .Result "description"}}_

## General information

**Name**:            {{index .Result "name"}}
**ID**:              {{index .Result "id"}}
**Share ID**:        {{index .Result "shareId"}}
**Share Protocol**:  {{index .Result "shareProtocol"}}
**Status**:          {{index .Result "status"}}
**Size**:            {{index .Result "size"}}GB
**Share Size**:      {{index .Result "shareSize"}}GB
**Created at**:      {{index .Result "createdAt"}}

💡 Use option --json or --yaml to get the raw output with all information
