🚀 Share Snapshot {{.ServiceName}}
=======

_{{index .Result "description"}}_

## General information

**Name**:           {{index .Result "currentState" "name"}}
**Share ID**:       {{index .Result "currentState" "share" "id"}}
**Share protocol**: {{index .Result "currentState" "shareProto"}}
**Share size**:     {{index .Result "currentState" "shareSize"}}GB
**Size**:           {{index .Result "currentState" "snapshotSize"}}GB
**Status**:         {{index .Result "resourceStatus"}}
**Created at**:     {{index .Result "createdAt"}}

💡 Use option -o json or -o yaml to get the raw output with all information