🔐 Share ACL {{.ServiceName}}
=======

## General information

**ID**:            {{index .Result "id"}}
**Access Type**:   {{index .Result "accessType"}}
**Access To**:     {{index .Result "accessTo"}}
**Access Level**:  {{index .Result "accessLevel"}}
**Status**:        {{index .Result "status"}}
**Created at**:    {{index .Result "createdAt"}}
**Updated at**:    {{index .Result "updatedAt"}}

💡 Use option --json or --yaml to get the raw output with all information
