🚀 Cloud Project {{.ServiceName}}
=======

## General information

**Name**:          {{index .Result "currentState" "name"}}
**Mode**:          {{index .Result "currentState" "mode"}}
**Status**:        {{index .Result "resourceStatus"}}
**Creation date**: {{index .Result "createdAt"}}
**Update date**:   {{index .Result "updatedAt"}}

{{if index .Result "iam"}}## IAM information

**URN**: {{index .Result "iam" "urn"}}
{{if index .Result "iam" "tags"}}
**Tags**:
| Key | Value |
| --- | --- |
{{ range $key, $value := (index .Result "iam" "tags") }}| {{$key}} | {{$value}} |
{{end}}
{{end}}{{end}}

💡 Use option -o json or -o yaml to get the raw output with all information
