🚀 Share Snapshot {{.ServiceName}}
=======
{{$state := index .Result "targetSpec"}}{{with index .Result "currentState"}}{{$state = .}}{{end}}
{{with index $state "description"}}_{{.}}_

{{end}}## General information

{{with index $state "name"}}**Name**:       {{.}}
{{end}}**Share ID**:   {{index $state "share" "id"}}
**Status**:     {{index .Result "resourceStatus"}}
{{with index .Result "currentState"}}**Region**:     {{index . "location" "region"}}
**Size**:       {{index . "size"}}GB
{{end}}**Created at**: {{index .Result "createdAt"}}

💡 Use option -o json or -o yaml to get the raw output with all information