🚀 Managed Analytics - Pattern
=======

## General information

**ID**:              {{index .Result "id"}}
**Pattern**:         {{index .Result "pattern"}}
**Max index count**: {{index .Result "maxIndexCount"}}

💡 Use option -o json or -o yaml to get the raw output with all information
