🚀 Share Snapshot {{.ServiceName}}
=======

_{{index .Result "description"}}_

## General information

**Name**:           {{index .Result "name"}}
**Share ID**:       {{index .Result "shareId"}}
**Share protocol**: {{index .Result "shareProtocol"}}
**Share size**:     {{index .Result "shareSize"}}GB
**Size**:           {{index .Result "size"}}GB
**Status**:         {{index .Result "status"}}
**Created at**:     {{index .Result "createdAt"}}

💡 Use option -o json or -o yaml to get the raw output with all information