📝 Log subscription {{.ServiceName}}
=======

## General information

**Subscription ID**: {{index .Result "subscriptionId"}}
**Kind**:            {{index .Result "kind"}}
**Stream ID**:       {{index .Result "streamId"}}
**Service name**:    {{index .Result "serviceName"}}
**Created at**:      {{index .Result "createdAt"}}
**Updated at**:      {{index .Result "updatedAt"}}

💡 Use option --json or --yaml to get the raw output with all information