🚀 Volume {{.ServiceName}}
=======

_{{index .Result "description"}}_

## General information

**Name**:               {{index .Result "name"}}
**Region**:             {{index .Result "region"}}
**Availability zone**:  {{index .Result "availabilityZone"}}
**Type**:               {{index .Result "type"}}
**Status**:             {{index .Result "status"}}
**Size**:               {{index .Result "size"}}GB
**Creation time**:      {{index .Result "creationDate"}}
**Attached instances**: {{index .Result "attachedTo"}}

💡 Use option --json or --yaml to get the raw output with all information