🚀 VMware Cloud Director Organization {{.ServiceName}}
=======

{{if index .Result "currentState" "fullName"}}_{{index .Result "currentState" "fullName"}}_{{end}}
{{if index .Result "currentState" "description"}}_{{index .Result "currentState" "description"}}_{{end}}

## General information

**Status**:        {{index .Result "resourceStatus"}}
**Update date**:   {{index .Result "updatedAt"}}

## Current state

**Name**:    {{index .Result "currentState" "name"}}
**Region**:  {{index .Result "currentState" "region"}}
**Billing**: {{index .Result "currentState" "billingType"}}

### Links

[API URL]({{index .Result "currentState" "apiUrl"}})
[Web interface]({{index .Result "currentState" "webInterfaceUrl"}})

{{if index .Result "currentTasks"}}
## Current tasks

| ID | Type | Status |
| --- | --- | --- |
{{ range index .Result "currentTasks" }}| {{.id}} | {{.type}} | {{.status}} |
{{end}}
{{end}}

## IAM information

**URN**: {{index .Result "iam" "urn"}}
{{if index .Result "iam" "tags"}}
**Tags**:
| Key | Value |
| --- | --- |
{{ range $key, $value := (index .Result "iam" "tags") }}| {{$key}} | {{$value}} |
{{end}}
{{end}}

💡 Use option --json or --yaml to get the raw output with all information